@import url(solarized.css);

code {
  font-size: 0.9em;
  text-align: left;
}

nav.navbar {
  z-index: 100;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

section.section {
  padding-top: 5em;
}

section.hero {
  padding-top: 2em;
}

.image-container {
  display: inline-block;
}

.title-container {
  margin-top: 5em;
  padding-top: 1em;
  padding-right: 1em;
  display: inline-block;
  border-radius: 1em;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.9);
}

.red-velvet-bg {
  background-image: url(/img/backgrounds/red-velvet.jpg);
  background-attachment: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blue-velvet-bg {
  background-image: url(/img/backgrounds/blue-velvet.jpg);
  background-attachment: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.purple-velvet-bg {
  background-image: url(/img/backgrounds/purple-velvet.jpg);
  background-attachment: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.green-velvet-bg {
  background-image: url(/img/backgrounds/green-velvet.jpg);
  background-attachment: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-art-title {
  display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0.5em;
  border: #DAA520 solid;
}
