code {
  font-size: 0.9em;
  text-align: left;
}

.white-bg {
  background: #FFF;
}

nav.navbar {
  z-index: 100;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

section.section {
  padding-top: 5em;
}

section.hero {
  padding-top: 2em;
}

.title-container {
  margin-top: 5em;
  padding-top: 1em;
  padding-right: 1em;
  display: inline-block;
  border-radius: 1em;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.9);
}
