vendor/
.bundle/
node_modules/
_site
_drafts
.sass-cache
.jekyll-metadata
*.plsno
.ignore
yarn-error.log
.yarnclean
.jekyll-cache

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

test.md
convert
todo.md
*.dev.*
assets/js/*.js
assets/js/*.js.map
.env
.astro/*
dist/
