url: "https://halivert.dev"
baseurl: ""
repository: "halivert/halivert.github.io"
title: "Halivert"
name: "Halí"
description: >-
  Sitio de Halí Velázquez
timezone: "America/Mexico_City"
logo: "/assets/img/halivert-logo.png"
tagline: "Blog personal de un desarrollador"
lang: "es_MX"
markdown: "kramdown"
google-site-verification: "y5CVIkGEknUqXldRON2wplF-bCPoTD_esh47PoXbtmk"
seo_paginator_message: "Página %<current>s de %<total>s - "
twitter:
  username: "halivert"

pagination:
  enabled: true
  per_page: 7
  permalink: "/:num/"
  title: ":title"
  sort_reverse: true
  trail:
    before: 2
    after: 2

feed:
  excerpt_only: true

plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-paginate-v2
  - jekyll-gist
  - jekyll-github-metadata
  - jemoji

defaults:
  - scope:
      path: ""
    values:
      search_bar: false
      logo: "/assets/img/halivert-logo.png"
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      author: halivert
      permalink: "/blog/:year/:month/:title/"
      excerpt_separator: "<!-- Seguir leyendo -->"
      comments: true
      lang: "es_MX"
      locale: "es_MX"
      has_math: false
      has_instant_view: true
      search_bar: true
      font_size: "is-size-5 is-size-6-mobile"
      image_types: "webp:image/webp,png:image/png"
  - scope:
      path: "blog"
    values:
      search_bar: true

  # English translations
  - scope:
      path: "en"
    values:
      lang: "en"
      locale: "en"
  - scope:
      path: "_posts/en"
      type: "posts"
    values:
      layout: "post"
      author: halivert
      permalink: "/en/blog/:year/:month/:title/"
      excerpt_separator: "<!-- Keep reading -->"
      comments: true
      lang: "en"
      locale: "en"
      has_math: false
      has_instant_view: true
      search_bar: true
      font_size: "is-size-5 is-size-6-mobile"
      image_types: "webp:image/webp,png:image/png"
      categories: []

# Exclude from processing.
# The following items will not be processed, by default. Create a custom
# list to override the default setting.
exclude:
  - vendor/
  - node_modules/
  - package.json
  - yarn.lock
  - yarn-error.log
  - /README.md
  - /LICENSE
  - convert
  - release-notes.md
  - rollup.config.js
  - src/
