@import "../../node_modules/bulma/sass/utilities/initial-variables"
@import "../../node_modules/bulma/sass/utilities/functions"

$turquoise: #00C0C0
$red: #EF476F
$yellow: #FFC43D
$green: #44AF69

$blue: #246EB9
$cyan: #39A0ED
$golden: #DAA520
