@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import url("https://fonts.googleapis.com/css?family=Raleway|Montserrat");
@import "../../node_modules/@ibm/plex/scss/mono/regular/_index.scss";

@import "halivert-variables";
$family-sans-serif: "Raleway", sans-serif;
$title-family: "Montserrat", sans-serif;
$family-monospace: "IBM Plex Mono", monospace;

$hr-background-color: $grey-lighter;
$widescreen-enabled: false;
$fullhd-enabled: false;
// $primary: #97FB98;
// $secondary: #28E500;
// $third: #1742CC;
// $fourth: #00C0C0;

@import "../../node_modules/bulma/sass/utilities/derived-variables.sass";
$addColors: (
  "purple": ($purple, findColorInvert($purple))
  // "secondary":($secondary, findColorInvert($secondary)),
  // "third":($third, findColorInvert($third)),
  // "fourth":($fourth, findColorInvert($fourth)),
);
$colors: map-merge($colors, $addColors);

$brand-colors: (
  "twitter": ($twitter, findColorInvert($twitter)),
  "telegram": ($telegram, findColorInvert($telegram))
);

@import "../../node_modules/bulma/sass/utilities/_all";
@import "../../node_modules/bulma/sass/base/_all";

/*
  @import "sass/elements/_all"
*/

@import "../../node_modules/bulma/sass/elements/box.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/content.sass";
@import "../../node_modules/bulma/sass/elements/icon.sass";
@import "../../node_modules/bulma/sass/elements/image.sass";
@import "../../node_modules/bulma/sass/elements/notification.sass";
@import "../../node_modules/bulma/sass/elements/progress.sass";
// @import "sass/elements/table.sass";
// @import "sass/elements/tag.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/elements/other.sass";

@import "../../node_modules/bulma/sass/form/_all";

/*
  @import "sass/components/_all"
*/

// @import "sass/components/card.sass";
// @import "sass/components/dropdown.sass";
@import "../../node_modules/bulma/sass/components/level.sass";
// @import "sass/components/list.sass";
@import "../../node_modules/bulma/sass/components/media.sass";
// @import "sass/components/menu.sass";
// @import "sass/components/message.sass";
// @import "sass/components/modal.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/components/pagination.sass";
// @import "sass/components/panel.sass";
// @import "sass/components/tabs.sass";

/*
@import "sass/grid/_all"
*/

@import "../../node_modules/bulma/sass/grid/columns.sass";
// @import "sass/grid/tiles.sass";

@import "../../node_modules/bulma/sass/layout/_all";

// main.content > p:first-of-type:first-letter {
//   font-size: 4rem;
//   float: left;
//   line-height: 40px;
//   padding: 5px 5px 0 5px;
//   color: $primary;
// }

#cookie-notice {
  position: fixed;
  @media screen and (max-width: $tablet - 1px) {
    left: 10px;
  }
  right: 10px;
  bottom: 5px;
  z-index: 900;
}

@each $name, $pair in $brand-colors {
  $color: nth($pair, 1);
  .#{$name} {
    color: $color !important;
  }
  a.#{$name} {
    &:hover,
    &:focus {
      color: darken($color, 10%) !important;
    }
  }
}
