@import "halivert-variables";
@import url(solarized.css);

html, body {
  height: 100%;
}

code {
  font-size: 0.9em;
  text-align: left;
}

.image-container {
  display: inline-block;
}

.title-container {
  margin-top: 5em;
  padding-top: 1em;
  padding-right: 1em;
  display: inline-block;
  border-radius: 1em;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.9);
}

.red-velvet-bg {
  background-image: url(/img/backgrounds/red-velvet.jpg);
  background-attachment: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blue-velvet-bg {
  background-image: url(/img/backgrounds/blue-velvet.jpg);
  background-attachment: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.purple-velvet-bg {
  background-image: url(/img/backgrounds/purple-velvet.jpg);
  background-attachment: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.green-velvet-bg {
  background-image: url(/img/backgrounds/green-velvet.jpg);
  background-attachment: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-art-title {
  display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0.5em;
  border: #DAA520 solid;
}

img.image-left {
  max-width: 300px;
  margin-right: 15px;
  margin-bottom: 10px;
}

img.image-right {
  max-width: 300px;
  margin-left: 15px;
  margin-bottom: 10px;
}

#container {
  min-height: 100%;
}

#main-container {
  overflow: auto;
  padding-bottom: 148px; /* Aprox size of footer plus a padding */
}

#footer {
  margin: -100px 0 0 0; /* Fixed to bottom */
  position: relative;
  clear: both;
  padding: 1.2em 0.5em 1.5em 0.5em;
  background: $light-bis;
  color: $light-bis-invert;
  bottom: 0;
  width: 100%;
  border-top-color: #BBB;
  border-top-style: solid;
  border-width: 1px;
}

.icon-2x {
  max-width: 2em;
  max-height: 2em;
}

::selection {
  background: $primary;
  color: $primary-invert;
}

::-moz-selection {
  background: $primary;
  color: $primary-invert;
}

.anchor {
  display: block;
  height: 54px;
  margin-top: -54px;
  visibility: hidden;
}

.katex-display {
  overflow-x: auto;
}

img.avatar {
  vertical-align: middle;
  border-radius: 50% !important;
  max-width: 300px;
  min-width: 50px;
}
