.dark:root {
	--dark: -1;
}

html {
	font-size: 12pt;
}

html,
body,
.menu-list,
#main-container,
#main-container > .columns > .column,
.columns {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-flow: column;
}

body *,
.reader {
	max-width: 100%;
}

.menu {
	border-right: none;
	padding: 0;

	.menu-list {
		margin-block-start: 0;
	}

	.menu-logo {
		position: relative;
		color: var(--text-color-100);
		margin-inline: auto 4.5em;
		padding: 0.125em;
		max-height: 1.5em;

		&:first-child::after {
			position: absolute;
			content: "{{ site.title }}";
			top: 50%;
			right: 0;
			transform: translateY(-50%) translateX(105%);
			font-style: italic;
		}
	}
}

#main-container {
	break-before: avoid;
}

#title-div {
	flex-flow: row;
}

img,
picture {
	filter: none !important;
}

.columns,
picture,
img,
p,
pre,
h1,
h2,
h3,
h4,
h5,
h6 {
	break-inside: avoid;
}

.page-break {
	&-before {
		break-before: always;
	}

	&-after {
		break-after: always;
	}
}

picture,
img {
	max-height: 20em;
}

.menu > .menu-list:last-child,
footer.footer,
nav.pagination,
video,
#reactions {
	display: none;
}

.printable {
	display: initial;
}

.columns {
	flex-flow: row nowrap !important;
}
