<div class="card">
  <div class="card-content">
    <div class="content">
      Puedes enviarme un mensaje, si deseas ponerte en contacto conmigo
    </div>
  </div>
  <footer class="card-footer">
    <a class="card-footer-item" href="https://t.me/halivert">
      Telegram
      <span class="icon">
        <i class="fab fa-telegram" aria-hidden="true"></i>
      </span>
    </a>
    <a class="card-footer-item" href="https://twitter.com/halivert">
      Twitter
      <span class="icon">
        <i class="fab fa-twitter" aria-hidden="true"></i>
      </span>
    </a>
    <a class="card-footer-item" href="mailto:halivelazquez@outlook.com">
      Email
      <span class="icon">
        <i class="fas fa-envelope-open" aria-hidden="true"></i>
      </span>
    </a>
  </footer>
</div>
