<div class="notification is-warning is-inline-block is-hidden" id="cookie-notice">
  <button class="delete"></button>
  <p>
  Este sitio utiliza cookies de terceros para mejorar la funcionalidad
  (comentarios).
  <br>
  ¿Las aceptas?
  </p>
  <div class="buttons are-small is-right">
    <a id="cookie-notice-accept" class="button is-primary">Aceptar</a>
    <a id="cookie-notice-cancel" class="button is-danger">Cancelar</a>
  </div>
</div>
<script>
  var notice = document.getElementById('cookie-notice');
  if (readCookie('cookie-notice-dismissed') === 'true') {
    destroyElement(notice);
    showElement(document.getElementById('comments'));

    var disqus_config = function () {
      this.page.url = "{{ site.url }}{{ page.url }}";
      this.page.identifier = "{{ page.id }}";
    };

    (function() {
      var d = document, s = d.createElement('script');
      s.src = 'https://halivert.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  }
  else if (readCookie('cookie-notice-canceled') === 'true') {
    destroyElement(notice);
    destroyElement(document.getElementById('comments'));
  }
  else {
    showElement(notice);

    document.getElementById('cookie-notice-accept').addEventListener('click', function() {
      createCookie('cookie-notice-dismissed','true',31);
      location.reload();
    });

    document.getElementById('cookie-notice-cancel').addEventListener('click', function() {
      createCookie('cookie-notice-canceled','true', 31);
      location.reload();
    });
  }
</script>
