<div class="notification is-warning is-inline-block is-hidden" id="cookie-notice">
  <p>
  Este sitio utiliza cookies de terceros para mejorar la funcionalidad.
  <br>
  ¿Las aceptas?
  </p>
  <div class="buttons are-small is-right">
    <a id="cookie-notice-accept" class="button is-primary">Aceptar</a>
    <a id="cookie-notice-cancel" class="button is-danger">Cancelar</a>
  </div>
</div>
<script>
  function createCookie(name,value,days) {
    var expires = '';
    if (days) {
      var date = new Date();
      date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
      expires = ';expires=' + date.toUTCString();
    }
    document.cookie = name + '=' + value + expires + ';path=/';
  }

  function readCookie(name) {
    var nameEQ = name + '=';
    var ca = document.cookie.split(';');
    for(var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') c = c.substring(1, c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
    }
    return null;
  }

  function eraseCookie(name) {
    createCookie(name, '', -1);
  }

  function showElement(element) {
    element.classList.remove('is-hidden');
  }

  function hideElement(element) {
    element.classList.add('is-hidden');
  }

  function destroyElement(element) {
    element.remove();
  }

  var notice = document.getElementById('cookie-notice');
  if (readCookie('cookie-notice-dismissed') === 'true') {
    destroyElement(notice);
    const body = document.body;
    var script = document.createElement('script');
    script.src = "//halivert.disqus.com/count.js";
    script.id = "dsq-count-scr";
    script.async = true;
    body.appendChild(script);
  }
  else if (readCookie('cookie-notice-canceled') === 'true') {
    destroyElement(notice);
  }
  else {
    showElement(notice);

    document.getElementById('cookie-notice-accept').addEventListener('click', function() {
      createCookie('cookie-notice-dismissed','true',31);
      location.reload();
    });

    document.getElementById('cookie-notice-cancel').addEventListener('click', function() {
      createCookie('cookie-notice-canceled','true', 31);
      location.reload();
    });
  }

</script>
