<div
	class="notification is-warning is-inline-block is-hidden"
	id="cookie-notice"
>
	<button class="delete"></button>
	<p>
		Este sitio utiliza cookies de terceros para mejorar la funcionalidad
		(comentarios - Telegram).
		<br />
		¿Las aceptas?
	</p>
	<div class="buttons are-small is-right">
		<a id="cookie-notice-accept" class="button is-primary">Aceptar</a>
		<a id="cookie-notice-cancel" class="button is-danger">Cancelar</a>
	</div>
</div>
<script>
	const notice = document.getElementById("cookie-notice");
	if (readCookie("halivert-cookie-notice-dismissed") === "true") {
		destroyElement(notice);

		(function() {
			const comments = document.getElementById("comments");
			const s = document.createElement("script");
			s.src = "https://comments.app/js/widget.js?2";
			s.async = true;
			s.setAttribute("data-comments-app-website", "UeRG0PrD");
			s.setAttribute("data-limit", "5");
			s.setAttribute("data-color", "00C0C0");
			s.setAttribute("data-colorful", "1");
			comments.appendChild(s);
		})();
	} else if (readCookie("halivert-cookie-notice-canceled") === "true") {
		destroyElement(notice);
		destroyElement(document.getElementById("comments"));
	} else {
		showElement(notice);

		document
			.getElementById("cookie-notice-accept")
			.addEventListener("click", function() {
				createCookie("halivert-cookie-notice-dismissed", "true", 31);
				location.reload();
			});

		document
			.getElementById("cookie-notice-cancel")
			.addEventListener("click", function() {
				createCookie("halivert-cookie-notice-canceled", "true", 31);
				location.reload();
			});
	}
</script>
