{%- assign numMonth = include.item | date: "%m" -%}
{%- case numMonth --%}
{%- when "01" -%} {%- assign month = "Enero" -%}
{%- when "02" -%} {%- assign month = "Febrero" -%}
{%- when "03" -%} {%- assign month = "Marzo" -%}
{%- when "04" -%} {%- assign month = "Abril" -%}
{%- when "05" -%} {%- assign month = "Mayo" -%}
{%- when "06" -%} {%- assign month = "Junio" -%}
{%- when "07" -%} {%- assign month = "Julio" -%}
{%- when "08" -%} {%- assign month = "Agosto" -%}
{%- when "09" -%} {%- assign month = "Septiembre" -%}
{%- when "10" -%} {%- assign month = "Octubre" -%}
{%- when "11" -%} {%- assign month = "Noviembre" -%}
{%- when "12" -%} {%- assign month = "Diciembre" -%}
{%- endcase -%}
{{ month }} {{ include.item | date: "%d, %y" }}
