<footer class="level" id="footer" style="padding-top: 1.2em; padding-bottom: 1.5em; background: #EEE; bottom: 0; position: relative; width: 100%; border-top-color: #BBB;  border-top-style: solid; border-width: 1px;">
  <div class="container">
    <div class="content has-text-centered">
      <a href="{{ site.url }}/feed.xml" style="color: #333;">
        RSS feed
        <span class="icon" style="color: #333;">
          <i class="fa fa-lg fa-rss" aria-hidden="true"></i>
        </span>
      </a>
    </div>
  </div>
</footer>
