<h2 class="title is-2">Últimas entradas en el blog</h2>
{% for post in site.posts limit: 3 %}
  <article class="columns latest-posts">
    <div class="column is-one-third is-flex-column space-between">
      <h3 class="title is-3">
        <a class="has-text-primary" href="{{ site.url }}{{ post.url }}">
          {{ post.title }}
        </a>
      </h3>

      {% if post.image %}
        <picture>
          {%- for type in post.image_types -%}
            {%- if forloop.last != true -%}
              <source
                srcset="{{ post.image | absolute_url }}.{{ type.first[0] }}"
                type="{{ type.first[1] }}"
              />
            {%- else -%}
              <img
                src="{{ post.image | absolute_url }}.{{ type.first[0] }}"
                alt="{{ post.image_alt }}"
              />
            {%- endif -%}
          {%- endfor -%}
        </picture>
      {% endif %}

      <div class="is-flex">
        <div class="mr-3">
          <span class="icon">
            <i class="fas fa-user" aria-hidden="true"></i>
          </span>
          {% assign author = site.data.authors[post.author] %}
          {% if author %} {{ author.first_name }}
          {% else %} {{ post.author }}
          {% endif %}
        </div>
        <div>
          {% if post.last_modification %}
            <span class="icon">
              <i class="fas fa-calendar-plus" aria-hidden="true"></i>
            </span>
            {% include date-spanish.html item=post.last_modification %}
          {% else %}
            <span class="icon">
              <i class="fas fa-calendar" aria-hidden="true"></i>
            </span>
            {% include date-spanish.html item=post.date %}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="column is-flex is-vcentered">
      {% include post-show.html %}
    </div>
  </article>
  <hr />
{% endfor %}

<div class="buttons is-right">
  <a class="button is-primary" href="{{ site.url }}/blog">
    <span>Ver más...</span>
    <span class="icon">
      <i class="fas fa-hand-point-right"></i>
    </span>
  </a>
</div>
