<aside id="side-menu" class="menu">
	<ul class="menu-list mt-1">
		<li>
			<a class="px-1" href="{{ '' | absolute_url }}">
				<img
					class="logo my-0 dark"
					src="{{ '/img/halivert-logo.webp' | absolute_url }}"
					alt="Logo de {{ site.title }}"
				/>
			</a>
		</li>
	</ul>

	<ul class="menu-list my-1">
		<li>
			<a href="{{ '/blog/' | absolute_url }}">Blog</a>
		</li>
		<!--li>
			<a href="{{ '/projects/' | absolute_url }}">Proyectos</a>
		</li-->
		{%- if page.search_bar -%}
		<li>
			<button
				id="search-button"
				type="button"
				class="menu-item"
				onclick="showSearchModal()"
			>
				<span>
					<i class="fas fa-search"></i>
				</span>
				<span>Buscar</span>
				<span class="keycode">/</span>
			</button>
		</li>
		{%- endif -%}
	</ul>
</aside>

{%- if page.search_bar -%}
	<div id="search-modal" class="modal search-modal is-hidden">
		<div class="modal-content">
			<button class="delete mb-4" onclick="hideModal(this)"></button>

			<div class="my-5">
				<input
					id="search-input"
					placeholder="Buscar..."
					class="input"
					type="text"
					oninput="inputSearch(this)"
				/>
			</div>

			<div class="columns">
				<div class="column reader">
					<section id="search-results" class="has-text-left"></section>
				</div>
			</div>

			<template id="post-template">
				<section>
					<h2 class="title is-2">
						<a class="post-title has-text-primary" href="#"></a>
					</h2>
					<hr />
					<div class="columns">
						<div class="column">
							<div class="post-content content has-text-justified"></div>
						</div>
						<picture class="post-picture column is-3-desktop"></picture>
					</div>
					<div class="box has-text-right">
						<i class="fas fa-user" aria-hidden="true"></i>
						<span class="post-author"></span>
						<span class="mobile-separator"></span>
						<i class="fas fa-calendar" aria-hidden="true"></i>
						<span class="post-date"></span>
					</div>
					<br />
				</section>
			</template>
		</div>
	</div>
{%- endif -%}
