<a
  class="skip-link"
  href="#main-container"
  data-turbolinks="false"
  tab-index="0"
  >Ir al contenido</a
>

<nav class="navbar" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ site.url }}">
      <img src="{{ site.url }}/img/halivert-logo.webp" alt="Logo de halivert" />
    </a>
  </div>

  <div class="navbar-menu" id="nav-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{{ site.url }}/blog/">
        Blog
      </a>
      <a class="navbar-item" href="{{ site.url }}/skills">
        Habilidades
      </a>
      <a class="navbar-item" href="{{ site.url }}/now">
        Ahora
      </a>
    </div>

    {% comment %}
    {% if page.search_bar %}
      <div class="navbar-end">
        <form class="navbar-item" action="/blog/busqueda">
          <div class="search-widget">
            <div class="control">
              <input
                class="input is-small"
                type="text"
                id="search-box"
                placeholder="Buscar..."
                name="consulta"
                data-turbolinks-permanent
              />
            </div>
            <div class="control">
              <button class="button is-small" type="submit">
                <i class="fas fa-search" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    {% endif %}
    {% endcomment %}
  </div>
</nav>

<button
  id="theme-switcher"
  class="button theme-switcher"
  onclick="changeTheme('theme-switcher')"
  data-turbolinks-permanent
>
  <span class="icon">
    <i class="fas" aria-hidden="true"></i>
  </span>
</button>
