<nav class="navbar is-primary is-size-6" role="navigation" aria-label="main navigation">
  <section class="navbar-brand">
    <a class="navbar-item" href="{{ site.baseurl }}/">
      <img class="image" src="{{ site.baseurl }}/img/hLetter.png">
    </a>
    <button class="button navbar-burger is-primary" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </section>

  <section class="navbar-menu is-primary" id="navMenu">
    <section class="navbar-start">
      <a class="navbar-item" href="{{ site.baseurl }}/blog/">
        Blog
      </a>
      <a class="navbar-item" href="{{ site.baseurl }}/">
        Acerca de mí
      </a>
      <a class="navbar-item" href="{{ site.baseurl }}/skillset">
        Skillset
      </a>
      <a class="navbar-item" href="{{ site.baseurl }}/contact">
        Contacto
      </a>
    </section>
    <section class="navbar-end">
      <a class="navbar-item" href="{{ site.url }}/feed.xml">
        RSS&nbsp;
        <span class="icon">
          <i class="fas fa-rss" aria-hidden="true"></i>
        </span>
      </a>
    </section>
  </section>
</nav>
