<nav class="navbar is-primary is-size-6" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ site.baseurl }}/">
      <img class="image" src="{{ site.baseurl }}/img/hLetter.png"
      alt="Letra H">
    </a>
    <button class="button navbar-burger is-primary" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

  <div class="navbar-menu is-primary" id="navMenu">
    <div class="navbar-start">
      <a class="navbar-item" href="{{ site.baseurl }}/blog/">
        Blog
      </a>
      <a class="navbar-item" href="{{ site.baseurl }}/">
        Acerca de mí
      </a>
      <a class="navbar-item" href="{{ site.baseurl }}/habilidades">
        Habilidades
      </a>
      <a class="navbar-item" href="{{ site.baseurl }}/ahora">
        Ahora
      </a>
    </div>
    <div class="navbar-end">
      {% if page.searchbar %}
      <form
        class="navbar-item"
        action="{{ site.baseurl }}/blog/search"
        method="get">
        <div class="field has-addons">
          <div class="control">
            <input
              class="input"
              type="text"
              id="search-box"
              placeholder="Escribe aquí para buscar..."
              name="query">
          </div>
          <div class="control">
            <button class="button" type="submit">
              <i class="fas fa-search" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </form>
      {% endif %}
      <a class="navbar-item" href="{{ site.url }}/feed.xml">
        RSS&nbsp;
        <span class="icon">
          <i class="fas fa-rss" aria-hidden="true"></i>
        </span>
      </a>
    </div>
  </div>
</nav>
