{% if paginator.total_pages > 1 %}
	<nav class="pagination is-rounded is-centered" aria-label="pagination">
		{% if paginator.previous_page %}
			<a
				href="{{ paginator.previous_page_path | absolute_url }}"
				class="pagination-previous button is-primary is-hidden-touch"
				><i class="fas fa-hand-point-left"></i></a
			>
		{% else %}
			<a class="pagination-previous is-hidden-touch" disabled>
				<i class="fas fa-hand-point-left"></i>
			</a>
		{% endif %}

		<ul class="pagination-list">
			{% assign first_page_path = paginator.first_page_path %}
			{% assign at_most = paginator.total_pages | minus: 2 %}

			<li>
				<a
					{% if paginator.page > 1 %}
						href="{{ first_page_path | absolute_url }}"
						class="pagination-link"
					{% else %}
						class="pagination-link button is-current"
						aria-current="page"
					{% endif %}
					aria-label="{{ 'Ir a página' | __ }} 1"
					>1</a
				>
			</li>

			{% if paginator.page > 3 %}
				{% if paginator.page > 4 %}
					<li>
						<span class="pagination-ellipsis is-hidden-touch">&hellip;</span>
					</li>
				{% endif %}
				<li>
					<span class="pagination-ellipsis is-hidden-desktop">&hellip;</span>
				</li>
			{% endif %}

			{% if paginator.page_trail %}
				{% for trail in paginator.page_trail %}
					{% if trail.num != 1 and trail.num != paginator.total_pages %}
						<li>
							<a
								{% if page.url == trail.path %}
									class="pagination-link button is-current"
									aria-current="page"
								{% else %}
									{% assign page_url = first_page_path | append: trail.num %}
									class="pagination-link button
										{% if forloop.first == true or forloop.last == true %}
											is-hidden-touch
										{% endif %}"
										href="{{ page_url | absolute_url }}/"
								{% endif %}
								aria-label="{{ 'Ir a página' | __ }} {{ trail.num }}"
								>{{ trail.num }}</a
							>
						</li>
					{% endif %}
				{% endfor %}
			{% endif %}

			{% if paginator.page < at_most %}
				{% assign at_most = at_most | minus: 1 %}
				{% if paginator.page < at_most %}
					<li>
						<span class="pagination-ellipsis is-hidden-touch">&hellip;</span>
					</li>
				{% endif %}

				<li>
					<span class="pagination-ellipsis is-hidden-desktop">&hellip;</span>
				</li>
			{% endif %}

			<li>
				<a
					{% if paginator.page < paginator.total_pages %}
						href="{{ paginator.last_page_path | absolute_url }}"
						class="pagination-link"
					{% else %}
						class="pagination-link button is-current"
						aria-current="page"
					{% endif %}
					aria-label="{{ 'Ir a página' | __ }} {{ paginator.total_pages }}"
					>{{ paginator.total_pages }}</a
				>
			</li>
		</ul>

		{% if paginator.next_page %}
			<a
				href="{{ paginator.next_page_path | absolute_url }}"
				class="pagination-next button is-primary is-hidden-touch"
				><i class="fas fa-hand-point-right"></i></a
			>
		{% else %}
			<span class="pagination-next is-hidden-touch" disabled>
				<i class="fas fa-hand-point-right"></i>
			</span>
		{% endif %}
	</nav>
{% endif %}
