{%- if include.path -%}
	{%- assign path = include.path -%}
{%- else -%}
	{%-
		assign path = page.date
			| date: "%Y-%m-"
			| prepend: "/assets/"
			| append: page.slug
			| append: "/"
			| append: include.subpath
			| absolute_url
	-%}
{%- endif -%}

{%- if include.types -%}
	{%- assign types = include.types | split: "," -%}
{%- else -%}
	{%- assign types = "webp:image/webp,png:image/png" | split: "," -%}
{%- endif -%}

{%- assign src = include.src -%}
{%- assign lastType = types | last -%}
{%- assign pair = lastType | split: ':' -%}
{%- assign img = src | append: '.' | prepend: path | remove: ' ' -%}

{%- unless include.nowrap -%}
<a
	target="_blank"
	rel="noopener noreferrer"
	href="{{ img | append: pair[0] | strip_newlines }}">
{%- endunless -%}
	<picture {% if include.class %} class="{{ include.class }}" {%- endif -%}>
		{% for type in types %}
			{%- assign pair = type | split: ':' -%}
			{%- assign img = src | append: '.' | prepend: path | remove: ' ' -%}
			{%- if forloop.last != true -%}
				<source
					srcset="{{ img | append: pair[0] | strip_newlines }}"
					type="{{ pair[1] }}" />
			{%- else -%}
				<img
					src="{{ img | append: pair[0] | strip_newlines }}"
					alt="{{ include.alt }}" />
			{%- endif -%}
		{%- endfor -%}
	</picture>
{%- unless include.nowrap -%}
</a>
{%- endunless -%}
