<div class="box">
  <i class="fas fa-user "
    aria-hidden="true"></i>
  {% if site.data._authors[post.author].fullname %}
    {{ site.data._authors[post.author].fullname }}
  {% else %}
    {{ post.author }}
  {% endif %}
  &nbsp;&nbsp;&nbsp;
  <br class="mobile-separator">
  <i class="fas fa-calendar "
    aria-hidden="true"></i>
  {% include date-spanish.html item=post %}
  &nbsp;&nbsp;&nbsp;
  <br class="mobile-separator">
  <i class="fas fa-comments "
    aria-hidden="true"></i>
  <a href="{{ post.url }}#disqus_thread"
    data-disqus-identifier="{{ post.id }}">Comentarios</a>
</div>
