<h2 class="title is-2">Proyectos en los que he trabajado 👨🏽‍💻</h2>

<div class="container-fluid">
  <div class="columns is-multiline">
    {% for project in site.data.projects %}
    {%-
      assign img_path = site.url
        | append: '/img/projects/'
        | append: project.slug
    -%}
      <div class="column is-narrow is-one-third">
        <div class="card">
          <div class="card-content">
            <div class="media">
              {% if project.img_type %}
                <div class="media-left">
                  <figure class="image is-48x48">
                    {% for ext in project.img_type %}
                      {% if forloop.last == false %}
                        <source
                          srcset="{{ img_path }}.{{ ext.first[0] }}"
                          type="image/{{ ext.first[1] }}">
                      {% else %}
                        <img
                          src="{{ img_path }}.{{ ext.first[0] }}"
                          alt="Imagen de projecto"
                        >
                      {% endif %}
                    {% endfor %}
                  </figure>
                </div>
              {% endif %}
              <div class="media-content">
                <p class="title is-5">{{ project.title }}</p>
                <p class="subtitle is-6">
                  <a href="https://github.com/halivert/{{ project.slug }}">
                    <span>Ver en github</span>
                    <span class="icon is-small">
                      <i class="fab fa-github"></i>
                    </span>
                  </a>
                </p>
              </div>
            </div>

            <div class="content">
              <p>{{ project.description }}</p>

              <div class="buttons is-right">
                <a
                  class="button is-primary"
                  href="{{ site.url }}/{{ project.slug }}"
                  >Ver más...</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
