<script>
	window.store = {
		{%- for post in site.posts -%}
			{%- assign postWords = post.content | number_of_words -%}
			{%- assign excerptWords = post.excerpt | number_of_words -%}
			{%- assign author = site.data.authors[post.author] -%}

			{%- capture date -%}
				{%- include date-spanish.html item=post -%}
			{%- endcapture -%}

			{%- if postWords > excerptWords -%}
				{%- assign continue = 1 -%}
			{%- else -%}
				{%- assign continue = 0 -%}
			{%- endif -%}

			{%- if author -%}
				{%- assign authorName = author.first_name | strip -%}
			{%- else -%}
				{%- assign authorName = post.author | strip -%}
			{%- endif -%}

	    "{{ post.id | strip | xml_escape }}": {
	      "title": {{ post.title | strip | jsonify }},
	      "author": {{ authorName | strip | jsonify }},
	      "categories": {{ post.categories | jsonify }},
	      "tags": {{ post.tags | jsonify }},
	      "displayContent": {{ post.excerpt | strip | jsonify }},
	      "url": {{ post.url | strip | jsonify }},
	      "continue": {{ continue | strip }},
	      "date": {{ date | strip | jsonify }}
	    }{%- unless forloop.last -%},{%- endunless -%}

	  {%- endfor -%}
	};

	var idx = lunr(function() {
	  this.field('id');
	  this.field('title', { boost: 10 });
	  this.field('categories');
	  this.field('tags');

	  for (var key in window.store) {
	    this.add({
	      'id': key,
	      'title': window.store[key].title,
	      'categories': window.store[key].categories,
	      'tags': window.store[key].tags,
	    });
	  }
	});
</script>
