<div
	id="search-modal"
	v-scope="SearchModal()"
	v-on:mounted="mountSearchModal"
	:class="['modal search-modal', { 'is-hidden': !activeSearchModal }]"
	v-effect="activeSearchModal ? $refs.searchInput?.focus() : ''"
	v-cloak
>
	<div class="modal-content">
		<button class="delete mb-4" v-on:click="toggleSearchModal()"></button>

		<div class="my-5">
			<input
				ref="searchInput"
				placeholder="{{ 'Buscar' | __ | append: '...' }}"
				class="input"
				type="text"
				v-model="inputValue"
				v-effect="search(inputValue)"
			/>
		</div>

		<div class="columns">
			<div class="column reader">
				<section
					class="has-text-left"
					v-on:click.passive="handleClick($event, toggleSearchModal)"
				>
					<span
						v-if="searching"
						class="is-loading"
						style="--spinner-size: 2em"
					></span>
					<h2 class="title is-3 has-text-text has-text-centered" v-if="empty">
						{{ '¡Ups! No encontré nada, pero puedes leer esto' | __ }}:
					</h2>
					<article
						v-for="(post, url) in posts"
						v-scope="SearchResult(post)"
						:key="url"
					></article>
				</section>
			</div>
		</div>

		<template id="post-template">
			<h2 class="title is-2">
				<a
					class="post-title has-text-primary"
					:href="post.url"
					v-text="post.title"
				></a>
			</h2>
			<hr />
			<div class="columns">
				<div class="column">
					<div
						class="post-content content has-text-justified"
						v-html="post?.content + (post.continue ? $el.innerHTML : '')"
					>
						<p>&#8230;</p>
						<a class="subtitle is-5 has-text-link" :href="post.url">
							{{ 'Seguir leyendo' | __ }}
						</a>
					</div>
					<picture class="post-picture column is-3-desktop" v-if="post?.image">
						<source
							v-for="image in sourceImages"
							:key="image.ext"
							:srcset="`${post.image}.${image.ext}`"
							:type="image.mime"
						/>
						<img :src="imageUrl" :alt="post.image_alt" />
					</picture>
				</div>
			</div>
			<div class="box has-text-right">
				<i class="fas fa-user" aria-hidden="true"></i>
				<span v-text="post.author"></span>
				<span class="mobile-separator"></span>
				<i class="fas fa-calendar" aria-hidden="true"></i>
				<span v-text="post.date"></span>
			</div>
			<br />
		</template>
	</div>
</div>
