<div class="container is-fluid has-text-centered">
  <h1 class="subtitle">Últimos artículos</h1>

  <div>
    {% for post in site.posts limit: 7 %}
      <a class="sidebar-item" href="{{ site.url }}{{ post.url }}">
        {{ post.title }}
      </a>
    {% endfor %}
  </div>

  <hr>
  <h1 class="subtitle">Categorías</h1>
  <div>
    {% for category in site.categories %}
      {% assign url = category[0] | slugify | replace: 'á', 'a' %}
      {% assign url = url | replace: 'é', 'e' | replace: 'í', 'i' %}
      {% assign url = url | replace: 'ó', 'o' | replace: 'ú', 'u' %}
      {% assign url = url | replace: 'ñ', 'ni' %}
      <a class="sidebar-item" href="{{ site.url }}/blog/{{ url }}">
        {{ category[0] }}
      </a>
    {% endfor %}
  </div>
</div>
