$colors: (
	"yellow": (
		var(--yellow-color),
		var(--yellow-invert),
	),
	"primary": (
		var(--primary-color-100),
		var(--text-color-100),
	),
	"golden": (
		var(--golden-color),
		var(--golden-invert, var(--text-color-100)),
	),
	"purple": (
		var(--purple-color),
		var(--purple-invert),
	),
	"white": (
		var(--white-color),
		var(--white-invert)
	),
);

$only-tag-colors: (
	"red": (
		var(--red-color),
		var(--red-invert),
	),
	"green-succulent": (
		var(--green-succulent-color),
		var(--green-succulent-invert),
	),
	"creative": (
		var(--creative-gradient),
		var(--creative-invert),
	),
	"blue": (
		var(--blue-color),
		var(--blue-invert),
	),
	"orange": (
		var(--orange-color),
		var(--orange-invert),
	),
	"emerald": (
		var(--emerald-color),
		var(--emerald-invert),
	),
	"pink": (
		var(--pink-color),
		var(--pink-invert),
	),
	"vue": (
		var(--vue-color),
		var(--vue-invert),
	),
	"mint": (
		var(--mint-color),
		var(--mint-invert),
	),
);

$tag-colors: map_merge($colors, $only-tag-colors);
