footer.footer {
  grid-area: footer;
  display: grid;
  z-index: 2;
  border-top: 2px solid var(--background-color-200);
  grid-template-columns: minmax(auto, 20%) minmax(auto, 80%);
  grid-template-areas: "right content";

  @include touch {
    grid-template-rows: auto 1fr;
    grid-template-columns: 100%;

    grid-template-areas:
      "right"
      "content";
  }

  .content {
    grid-area: content;
    padding: var(--footer-padding);
  }

  .start {
    grid-area: right;
    display: flex;
    justify-content: center;
    align-items: center;

    @include touch {
      margin-top: 0.75rem;
    }
  }
}
