input,
textarea {
	min-height: 2em;
	--box-shadow-size: 8px;

	font-family: inherit;
	font-size: 1.1em;

	box-shadow: var(--box-shadow-size) var(--box-shadow-size)
		var(--primary-color-200);

	&:focus {
		outline: none;
		box-shadow: var(--box-shadow-size) var(--box-shadow-size)
			var(--accent-color-200);
	}
}

input,
textarea {
	border-radius: 4px;
	border: none;
	padding: 0.5rem 0.75rem;
	max-width: 100%;
	width: 100%;
	resize: vertical;

	&:not(:first-child) {
		margin-left: 0.5rem;
	}

	&:not(:last-child) {
		margin-right: 0.5rem;
	}
}
