.gist {
  ::selection {
    background: var(--accent-color-100) !important;
    color: var(--text-color-100) !important;
  }

  &-meta {
    color: var(--text-color-100) !important;
    background: var(--background-color-200) !important;
  }

  &-file {
    border-color: var(--background-color-200) !important;
  }

  &-data {
    color: var(--text-color-100) !important;
    background: var(--background-color-200) !important;
    border-color: var(--background-color-200) !important;

    .blob-num {
      border: none;

      &:hover {
        color: var(--text-color-200) !important;
      }
    }
  }
}
