$family-sans-serif: "Raleway", sans-serif;
$title-family: "Montserrat", sans-serif;
$family-monospace: "IBM Plex Mono", monospace;
$widescreen-enabled: false;
$fullhd-enabled: false;
$footer-padding: 1rem 1rem 2rem;

$hr-background-color: $grey-lighter;

@import "../node_modules/bulma/sass/utilities/derived-variables.scss";

@import "../node_modules/bulma/sass/utilities/mixins.sass";
@import "../node_modules/bulma/sass/utilities/controls.sass";

// @import "../node_modules/bulma/sass/base/_all.sass";

@import "../node_modules/bulma/sass/base/generic.sass";

// @import "../node_modules/bulma/sass/elements/_all.sass";

@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/elements/notification.sass";
@import "../node_modules/bulma/sass/elements/progress.sass";
@import "../node_modules/bulma/sass/elements/table.sass";
// @import "../node_modules/bulma/sass/elements/tag.sass";
@import "../node_modules/bulma/sass/elements/title.sass";

@import "../node_modules/bulma/sass/elements/other.sass";

// @import "../node_modules/bulma/sass/form/_all.sass";

@import "../node_modules/bulma/sass/form/shared.sass";
@import "../node_modules/bulma/sass/form/input-textarea.sass";
@import "../node_modules/bulma/sass/form/checkbox-radio.sass";
@import "../node_modules/bulma/sass/form/select.sass";
// @import "../node_modules/bulma/sass/form/file.sass";
@import "../node_modules/bulma/sass/form/tools.sass";

// @import "../node_modules/bulma/sass/components/_all.sass";

// @import "../node_modules/bulma/sass/components/breadcrumb.sass";
@import "../node_modules/bulma/sass/components/card.sass";
// @import "../node_modules/bulma/sass/components/dropdown.sass";
// @import "../node_modules/bulma/sass/components/level.sass";
@import "../node_modules/bulma/sass/components/media.sass";
// @import "../node_modules/bulma/sass/components/menu.sass";
@import "../node_modules/bulma/sass/components/message.sass";
@import "../node_modules/bulma/sass/components/modal.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/pagination.sass";
@import "../node_modules/bulma/sass/components/panel.sass";
@import "../node_modules/bulma/sass/components/tabs.sass";

// @import "../node_modules/bulma/sass/helpers/_all.sass";

@import "../node_modules/bulma/sass/helpers/color.sass";
@import "../node_modules/bulma/sass/helpers/float.sass";
// @import "../node_modules/bulma/sass/helpers/other.sass";
// @import "../node_modules/bulma/sass/helpers/overflow.sass";
// @import "../node_modules/bulma/sass/helpers/position.sass";
// @import "../node_modules/bulma/sass/helpers/spacing.sass";
// @import "../node_modules/bulma/sass/helpers/typography.sass";
// @import "../node_modules/bulma/sass/helpers/visibility.sass";

// @import "../node_modules/bulma/sass/layout/_all.sass";

@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/footer.sass";

// End of bulma imports

@import "_social-buttons";

.image-art-title {
  border-radius: 0.5em;
  border: $golden solid;
  @include tablet {
    width: 50%;
  }
  margin: auto;
}

::selection {
  background: $turquoise;
  color: $turquoise-invert;
}

::-moz-selection {
  background: $turquoise;
  color: $turquoise-invert;
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: $red;
}

.gist {
  &-meta {
    background-color: $background;
    color: $text;
  }

  &-file {
    border-color: $white-bis;
  }

  &-data {
    border-color: $white-bis;
  }
}

.repo.fixed-top-bar {
  background: $primary;
}
