$sizes: (3rem, 2.5rem, 2rem, 1.5rem, 1.25rem, 1rem, 0.75rem);
$footer-height: 5em;
$colors: (
  "warning": (
    var(--background-color-100),
    #f5ab00,
  ),
  "primary": (
    var(--text-color-100),
    var(--primary-color-100),
  ),
);

:root {
  --dark: -1;
  --main-font: "Raleway", sans-serif;
  --title-font: "Montserrat", sans-serif;
  --monospace-font: "IBM Plex Mono", monospace;
  --font-size: 1em;

  --footer-padding: 1rem 1rem 2rem;
  --footer-height: #{$footer-height};

  --button-padding-vertical: calc(0.5em - var(--control-border-width));
  --button-padding-horizontal: 1em;

  --column-gap: 0.5em;

  // --primary-color-100: #2a4265;
  // --primary-color-200: #243853;
  // --primary-color-300: #1b2a41;

  // --background-color-100: #ccc9dc;
  // --text-color-100: #0a0a10;
  // --primary-color-100: #94afc7;
  // --primary-color-200: #799bb9;
  // --primary-color-300: #5f87ab;

  // --contrast-color-100: #699fc9;
  // --contrast-color-200: #4b8cbe;
  // --contrast-color-300: #3b77a5;

  // --accent-color-100: #ff0000;

  &.dark {
    --dark: 1;

    --background-color-100: hsl(240, 23%, 5%);
    --background-color-200: hsl(240, 23%, 11%);
    --background-color-300: hsl(240, 23%, 17%);

    --text-color-100: hsl(249, 21%, 83%);
    --text-color-200: hsl(249, 21%, 77%);
    --text-color-300: hsl(249, 21%, 71%);

    --primary-color-100: hsl(216, 41%, 18%);
    --primary-color-200: hsl(216, 41%, 24%);
    --primary-color-300: hsl(216, 41%, 30%);

    --contrast-color-100: hsl(206, 47%, 60%);
    --contrast-color-200: hsl(206, 47%, 54%);
    --contrast-color-300: hsl(206, 47%, 48%);

    --accent-color-100: hsl(322, 42%, 46%);
    --accent-color-200: hsl(322, 42%, 44%);
    --accent-color-300: hsl(322, 42%, 42%);

    --gmail-primary: #eb4132;
    --twitter-primary: #1da1f2;
    --github-primary: #f0f6fc;
    --telegram-primary: #28a8ea;
  }
}

@import "reset";

@import "mixins";

@import "spacing";

@import "links";

@import "menu";

@import "buttons";

html {
  text-rendering: optimizeLegibility;
  overflow-y: scroll;
}

body {
  min-height: 100vh;
  display: grid;
  font-family: var(--main-font);
  line-height: 1.5;
  background-color: var(--background-color-100);
  color: var(--text-color-100);
  font-size: var(--font-size);

  grid-template-rows: 1fr auto;
  grid-template-columns: auto 5fr;

  grid-template-areas:
    "menu main"
    "footer footer";

  @include touch {
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto;

    grid-template-areas:
      "menu"
      "main"
      "footer";
  }
}

.title,
.subtitle {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  word-break: break-word;

  em,
  span {
    font-weight: inherit;
  }

  sub {
    font-size: 0.75em;
  }

  sup {
    font-size: 0.75em;
  }

  .tag {
    vertical-align: middle;
  }
}

.title {
  font-family: var(--title-font);
  font-size: nth($sizes, 3);
  font-weight: 600;
  line-height: 1.125;

  strong {
    color: inherit;
    font-weight: inherit;
  }

  & + .highlight {
    margin-top: -0.75rem;
  }

  &:not(.is-spaced) + .subtitle {
    margin-top: -1.25rem;
  }

  @each $size in $sizes {
    $i: index($sizes, $size);
    &.is-#{$i} {
      font-size: $size;
    }
  }
}

.subtitle {
  font-size: nth($sizes, 5);
  line-height: 1.25;

  strong {
    font-weight: 600;
  }

  &:not(.is-spaced) + .title {
    margin-top: -1.25rem;
  }

  @each $size in $sizes {
    $i: index($sizes, $size);
    &.is-#{$i} {
      font-size: $size;
    }
  }
}

strong {
  font-weight: bold;
}

.has-text-centered {
  text-align: center;
}

.is-invisible {
  visibility: hidden !important;
}

main#main-container {
  grid-area: main;
}

aside.menu {
  grid-area: menu;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  position: sticky;
  max-height: 100vh;
  top: 0;
  z-index: -1;
}

.section {
  padding: 1rem 3rem;

  @include touch {
    padding: 0.5rem 1.5rem;
  }
}

.columns {
  display: flex;

  @include touch {
    flex-flow: column;

    &.is-centered {
      align-items: center;
    }
  }

  &.is-centered {
    justify-content: center;
  }
}

.column {
  flex: 1 1;
  padding: var(--column-gap);

  @include desktop {
    &:not(:last-child) {
      margin-right: 1rem;
    }

    @for $i from 0 through 12 {
      .columns > &.is-#{$i} {
        flex: none;
        width: percentage($i / 12);
      }
      .columns > &.is-offset-#{$i} {
        margin-left: percentage($i / 12);
      }
    }
  }

  @include touch {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

.error-section {
  padding: 1rem 3rem 1rem 3rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 100%;
}

.reader {
  max-width: 70ch;

  font-size: nth($sizes, 5);

  @include touch {
    font-size: nth($sizes, 6);
  }
}

// .container-fluid {
//   max-width: none !important;
//   padding-left: 32px;
//   padding-right: 32px;
//   width: 100%;
// }

@import "card";

@import "footer";

// End of my styles

img,
picture {
  display: block;
  margin: 0 auto;
  max-width: 100%;

  &.image-left {
    max-width: 300px;
    margin-right: 15px;
    margin-bottom: 10px;
  }

  &.image-right {
    max-width: 300px;
    margin-left: 15px;
    margin-bottom: 10px;
  }

  &.avatar {
    vertical-align: middle;
    border-radius: 100%;
    width: 200px;
    z-index: 2;
  }
}

img {
  &:not([alt]) {
    outline: 0.5em dashed var(--accent-color-100);
  }
}

.image.post-image {
  display: inline-block;

  @include desktop {
    max-height: 200px;
    max-width: 200px;
  }

  @include touch {
    margin-bottom: 0.5em;
  }
}

.anchor {
  display: block;
  height: 54px;
  margin-top: -54px;
  visibility: hidden;
}

.katex-display {
  overflow-x: auto;
}

.auto-margin {
  margin: auto;
}

article:not(:last-child) {
  margin-bottom: 1em;
}

.line-through {
  text-decoration: line-through;
}

.icon-2x {
  max-width: 2em;
  max-height: 2em;
}

div.highlighter-rouge {
  &:not(:last-child) {
    margin-bottom: nth($sizes, 6);
  }
}

code,
pre {
  text-align: left;
  font-family: var(--monospace-font);
}

.image-container {
  display: inline-block;
}

.art-gallery {
  background-attachment: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebar-item {
  display: block;

  &:not(:last-child) {
    margin-bottom: 0.25rem;
  }
}

.mobile-separator {
  display: block;
  margin: 0 0.5rem;
  // @include tablet {
  //   display: inline-block;
  // }
}

.gist {
  table td {
    border: initial;
    font-family: var(--monospace-font);
  }

  .blob-num {
    text-align: right;
  }
}

.license-link {
  display: inline-block;
  // margin-bottom: $size-7 / 2;
}

.is-full-rounded {
  border-radius: 100%;
}

.repo {
  &.fixed-top-bar {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    z-index: 5;
    justify-content: space-between;
  }

  &.hero {
    // @include touch {
    //   margin-top: 0.75rem;
    // }
  }
}

sup.ref {
  &::before {
    content: "[";
  }

  &::after {
    content: "]";
  }
}

.latest-posts {
  &:nth-of-type(odd) {
    flex-direction: row-reverse;
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.is-flex {
  display: flex;
  flex-flow: row nowrap;

  &.is-vcentered {
    align-items: center;
  }

  &-column {
    display: flex;
    flex-flow: column nowrap;

    &.is-vcentered {
      justify-content: center;
    }
  }
}

.space-between {
  justify-content: space-between;
}

.normal-wrap {
  word-wrap: normal;
}

span[title] {
  cursor: help;
}

.image-art-title {
  border-radius: 0.5em;
  // border: $golden solid;
  // @include tablet {
  //   width: 50%;
  // }
  margin: auto;
}

::selection {
  background: var(--accent-color-100);
  color: var(--text-color-100);
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: var(--accent-color-300);
}

.gist {
  &-meta {
    background-color: var(--background-color-100);
    color: var(--text-color-100);
  }

  &-file {
    border-color: var(--background-color-200);
  }

  &-data {
    border-color: var(--background-color-200);
  }
}

.repo.fixed-top-bar {
  background: var(--background-color-100);
}

.theme-switcher {
  @include control-small;

  position: fixed;
  top: nth($sizes, 3);
  right: nth($sizes, 7);
  transform: translateY(-50%);
  z-index: 3;

  @include touch {
    position: absolute;
    right: nth($sizes, 6);
  }
}

.skip-link {
  color: var(--accent-color-300) !important;
  text-decoration: none !important;
  background: var(--background-color-200);
  font-size: nth($sizes, 5);
  position: absolute;
  left: 10%;
  padding: 4px;
  transform: translateY(-100%);
  transition: transform 0.3s;
  z-index: 3;

  &:focus,
  &:focus-visible {
    transform: translateY(0%);
  }
}
