@import url("https://fonts.googleapis.com/css?family=Raleway|Montserrat");
@import "@ibm/plex/scss/mono/regular/_index.scss";

$family-sans-serif: "Raleway", sans-serif;
$title-family: "Montserrat", sans-serif;
$family-monospace: "IBM Plex Mono", monospace;
$widescreen-enabled: false;
$fullhd-enabled: false;

@import "../node_modules/bulma/sass/utilities/derived-variables.sass";

$hr-background-color: $grey-lighter;

$addColors: (
  "purple": (
    $purple,
    findColorInvert($purple)
  )
);

// @import "../node_modules/bulma/sass/utilities/_all.sass";

@import "../node_modules/bulma/sass/utilities/mixins.sass";
@import "../node_modules/bulma/sass/utilities/controls.sass";

// @import "../node_modules/bulma/sass/base/_all.sass";

@import "../node_modules/bulma/sass/base/minireset.sass";
@import "../node_modules/bulma/sass/base/generic.sass";
@import "../node_modules/bulma/sass/base/helpers.sass";

$colors: map-merge($colors, $addColors);

// @import "../node_modules/bulma/sass/elements/_all.sass";

@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/elements/image.sass";
@import "../node_modules/bulma/sass/elements/notification.sass";
@import "../node_modules/bulma/sass/elements/progress.sass";
@import "../node_modules/bulma/sass/elements/table.sass";
@import "../node_modules/bulma/sass/elements/tag.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/other.sass";

// @import "../node_modules/bulma/sass/form/_all.sass";

@import "../node_modules/bulma/sass/form/shared.sass";
@import "../node_modules/bulma/sass/form/input-textarea.sass";
// @import "../node_modules/bulma/sass/form/checkbox-radio.sass";
// @import "../node_modules/bulma/sass/form/select.sass";
// @import "../node_modules/bulma/sass/form/file.sass";
@import "../node_modules/bulma/sass/form/tools.sass";

// @import "../node_modules/bulma/sass/components/_all.sass";

// @import "../node_modules/bulma/sass/components/breadcrumb.sass";
// @import "../node_modules/bulma/sass/components/card.sass";
// @import "../node_modules/bulma/sass/components/dropdown.sass";
@import "../node_modules/bulma/sass/components/level.sass";
// @import "../node_modules/bulma/sass/components/list.sass";
// @import "../node_modules/bulma/sass/components/media.sass";
// @import "../node_modules/bulma/sass/components/menu.sass";
// @import "../node_modules/bulma/sass/components/message.sass";
// @import "../node_modules/bulma/sass/components/modal.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/pagination.sass";
// @import "../node_modules/bulma/sass/components/panel.sass";
// @import "../node_modules/bulma/sass/components/tabs.sass";

// @import "../node_modules/bulma/sass/grid/_all.sass";

@import "../node_modules/bulma/sass/grid/columns.sass";
// @import "../node_modules/bulma/sass/grid/tiles.sass";

// @import "../node_modules/bulma/sass/layout/_all.sass";

@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/layout/footer.sass";

.image-art-title {
  display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0.5em;
  border: $golden solid;
}

#footer {
  margin: -100px 0 0 0; /* Fixed to bottom */
  position: relative;
  clear: both;
  padding: 1.2em 0.5em 1.5em 0.5em;
  background: $white-ter;
  color: $dark;
  bottom: 0;
  width: 100%;
  border-top-color: $grey-light;
  border-top-style: solid;
  border-width: 1px;
}

::selection {
  background: $turquoise;
  color: $turquoise-invert;
}

::-moz-selection {
  background: $turquoise;
  color: $turquoise-invert;
}

#cookie-notice {
  position: fixed;
  @media screen and (max-width: $tablet - 1px) {
    left: 10px;
  }
  right: 10px;
  bottom: 5px;
  z-index: 900;
}

$twitter: #1da1f2;
$telegram: #2da5e0;
$gmail: #d54e41;

$brand-colors: (
  "twitter": (
    $twitter,
    findColorInvert($twitter)
  ),
  "telegram": (
    $telegram,
    findColorInvert($telegram)
  ),
  "gmail": (
    $gmail,
    findColorInvert($gmail)
  )
);

@each $name, $pair in $brand-colors {
  $color: nth($pair, 1);
  $color-invert: nth($pair, 2);
  .#{$name} {
    background-color: $color;
    border-color: transparent;
    color: $color-invert;
    &:hover,
    &.is-hovered {
      background-color: darken($color, 2.5%);
      border-color: transparent;
      color: $color-invert;
    }
    &:focus,
    &.is-focused {
      border-color: transparent;
      color: $color-invert;
      &:not(:active) {
        box-shadow: $button-focus-box-shadow-size rgba($color, 0.25);
      }
    }
    &:active,
    &.is-active {
      background-color: darken($color, 5%);
      border-color: transparent;
      color: $color-invert;
    }
    &[disabled],
    fieldset[disabled] & {
      background-color: $color;
      border-color: transparent;
      box-shadow: none;
    }
    &.is-inverted {
      background-color: $color-invert;
      color: $color;
      &:hover,
      &.is-hovered {
        background-color: darken($color-invert, 5%);
      }
      &[disabled],
      fieldset[disabled] & {
        background-color: $color-invert;
        border-color: transparent;
        box-shadow: none;
        color: $color;
      }
    }
    &.is-loading {
      &::after {
        border-color: transparent
          transparent
          $color-invert
          $color-invert !important;
      }
    }
    &.is-outlined {
      background-color: transparent;
      border-color: $color;
      color: $color;
      &:hover,
      &.is-hovered,
      &:focus,
      &.is-focused {
        background-color: $color;
        border-color: $color;
        color: $color-invert;
      }
      &.is-loading {
        &::after {
          border-color: transparent transparent $color $color !important;
        }
        &:hover,
        &.is-hovered,
        &:focus,
        &.is-focused {
          &::after {
            border-color: transparent
              transparent
              $color-invert
              $color-invert !important;
          }
        }
      }
      &[disabled],
      fieldset[disabled] & {
        background-color: transparent;
        border-color: $color;
        box-shadow: none;
        color: $color;
      }
    }
    &.is-inverted.is-outlined {
      background-color: transparent;
      border-color: $color-invert;
      color: $color-invert;
      &:hover,
      &.is-hovered,
      &:focus,
      &.is-focused {
        background-color: $color-invert;
        color: $color;
      }
      &.is-loading {
        &:hover,
        &.is-hovered,
        &:focus,
        &.is-focused {
          &::after {
            border-color: transparent transparent $color $color !important;
          }
        }
      }
      &[disabled],
      fieldset[disabled] & {
        background-color: transparent;
        border-color: $color-invert;
        box-shadow: none;
        color: $color-invert;
      }
    }
  }
}

img {
  display: block;
  margin: 0 auto;

  &.image-left {
    max-width: 300px;
    margin-right: 15px;
    margin-bottom: 10px;
  }

  &.image-right {
    max-width: 300px;
    margin-left: 15px;
    margin-bottom: 10px;
  }

  &.avatar {
    vertical-align: middle;
    border-radius: 50% !important;
    max-width: 300px;
    min-width: 50px;
  }
}

.anchor {
  display: block;
  height: 54px;
  margin-top: -54px;
  visibility: hidden;
}

.katex-display {
  overflow-x: auto;
}

.auto-margin {
  margin: auto;
}

article:not(:last-child) {
  margin-bottom: 1em;
}

.line-through {
  text-decoration: line-through;
}

.icon-2x {
  max-width: 2em;
  max-height: 2em;
}

div.highlighter-rouge {
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

html,
body {
  height: 100%;
}

code {
  text-align: left;
}

.image-container {
  display: inline-block;
}

.red-velvet-bg {
  background-image: url(/img/backgrounds/red-velvet.jpg);
  background-attachment: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blue-velvet-bg {
  background-image: url(/img/backgrounds/blue-velvet.jpg);
  background-attachment: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.purple-velvet-bg {
  background-image: url(/img/backgrounds/purple-velvet.jpg);
  background-attachment: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.green-velvet-bg {
  background-image: url(/img/backgrounds/green-velvet.jpg);
  background-attachment: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#container {
  min-height: 100%;
}

#main-container {
  overflow: auto;
  padding-bottom: 148px; /* Aprox size of footer plus a padding */
}

.gist {
  table td {
    border: initial;
    font-family: $family-monospace;
  }

  .blob-num {
    text-align: right;
  }

  &-meta {
    background-color: $background;
    color: $text;
  }

  &-file {
    border-color: $white-bis;
  }

  &-data {
    border-color: $white-bis;
  }
}
