@import "variables";

@import "functions";

:root {
	--dark: -1;

	--main-font: "Raleway", sans-serif;
	--title-font: "Montserrat", sans-serif;
	--monospace-font: "IBM Plex Mono", monospace;
	--font-size: 1em;

	--button-padding-vertical: calc(0.5em - var(--control-border-width));
	--button-padding-horizontal: 1em;

	--column-gap: 0.75rem;
	--small-radius: 4px;

	--background-h: 249;
	--background-s: 21%;
	--background-l: 88%;

	--text-h: 240;
	--text-s: 23%;
	--text-l: 5%;

	--primary-h: 206;
	--primary-s: 47%;
	--primary-l: 49%;

	--contrast-h: 216;
	--contrast-s: 41%;
	--contrast-l: 31%;

	--accent-h: 322;
	--accent-s: 42%;
	--accent-l: 66%;

	--transition: 200ms linear;

	@media screen {
		&.dark {
			--dark: 1;

			--background-h: 240;
			--background-s: 23%;
			--background-l: 5%;

			--text-h: 249;
			--text-s: 21%;
			--text-l: 83%;

			--primary-h: 216;
			--primary-s: 41%;
			--primary-l: 30%;

			--contrast-h: 206;
			--contrast-s: 47%;
			--contrast-l: 60%;

			--accent-h: 322;
			--accent-s: 42%;
			--accent-l: 46%;

			--github-primary: #f0f6fc;
		}
	}

	--github-primary: #24292e;
	--gmail-primary: #eb4132;
	--twitter-primary: #1da1f2;
	--telegram-primary: #28a8ea;
	--discord-primary: #7289da;
	--linkedin-primary: #0a66c2;
	--gitlab-primary: #fc6d26;
	--instagram-primary: radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
}

@import "colors";

@import "links";

@import "reset";

@import "mixins";
@import "extends";

@import "spacing";

@import "menu";

@import "buttons";

@import "columns";

@import "title";

@import "utilities";

@import "content";

@import "tags";

@import "pagination";

@import "form";

@import "modal";

@import "card";

@import "notification";

@import "footer";

* {
	-webkit-transition: background var(--transition);
	transition: background var(--transition);
}

html {
	text-rendering: optimizeLegibility;
	overflow-y: scroll;
	scroll-behavior: smooth;
	scroll-padding-top: 1rem;
}

body {
	position: relative;
	min-height: 100vh;
	display: grid;
	font-family: var(--main-font);
	line-height: 1.5;
	background-color: var(--background-color-100);
	color: var(--text-color-100);
	font-size: var(--font-size);

	grid-template:
		"menu" auto
		"main" 1fr
		"footer" auto
		/ 100%;

	@include desktop {
		grid-template:
			"menu main" 1fr
			"footer footer" auto
		/ minmax(auto, 20%) minmax(auto, 80%);
	}
}

aside.menu {
	grid-area: menu;

	@include desktop {
		position: sticky;
	}
}

main#main-container {
	grid-area: main;
	position: relative;
}

.section {
	padding: 0.5rem 1rem;

	@include desktop {
		padding: 1rem 3rem;
	}
}

.error-section {
	padding: 1rem 3rem 1rem 3rem;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	height: 100%;
}

.reader {
	width: calc(100% - var(--code-padding));
	max-width: 70ch;
	font-size: nth($sizes, 6);

	@include desktop {
		font-size: nth($sizes, 5);
	}
}

.post-section {
	padding: 1rem 1rem 0 1rem;

	&:not(last-child) {
		margin-bottom: 2rem;
	}
}

.theme-switcher {
	position: fixed;
	top: nth($sizes, 3);
	right: 0.5rem;
	transform: translateY(-50%);
	z-index: 3;

	@include desktop {
		right: nth($sizes, 7);
	}

	&.is-light {
		background: var(--text-color-100);
		color: var(--background-color-100);
	}

	&.is-dark {
		background: hsl(42, 100%, 40%);
		color: var(--background-color-100);
	}
}

.skip-link {
	color: var(--accent-color-100);
	background: var(--background-color-100);
	text-decoration: none !important;
	font-size: nth($sizes, 5);
	position: absolute;
	left: 10%;
	padding: 4px;
	transform: translateY(-100%);
	transition: transform 0.3s;
	z-index: 3;

	&:focus,
	&:focus-visible,
	&:active {
		transform: translateY(0%);
		color: var(--accent-color-100);
		background: var(--background-color-100);
	}
}

.license-link {
	@extend %inline-block;

	margin-bottom: nth($sizes, 7) / 2;
}

::selection {
	background: var(--accent-color-100);
	color: var(--text-color-100);
}

.turbo-progress-bar {
	height: 5px;
	background-color: var(--accent-color-300);
}

img,
picture,
video {
	&:not(.dark) {
		filter: brightness(calc(70% - ((var(--dark) - 1) * 15%)));
		transition: filter var(--transition);
	}
}

video {
	max-width: 100%;
}

img,
picture {
	display: block;
	margin: 0 auto;
	max-width: 100%;

	&:not(:first-child) {
		margin-top: 0.5rem;
	}

	&:not(:last-child) {
		margin-bottom: 0.5rem;
	}

	&.image-left {
		max-width: 300px;
		margin-right: 15px;
		margin-bottom: 10px;
	}

	&.image-right {
		max-width: 300px;
		margin-left: 15px;
		margin-bottom: 10px;
	}

	&.avatar {
		@extend .is-full-rounded;

		vertical-align: middle;
		width: 200px;
		z-index: 2;
	}
}

picture.is-fullwidth {
	width: 100%;

	> *,
	> img.image {
		width: 100%;
		max-height: none;
	}
}

img:not([alt]) {
	outline: 0.5em dashed var(--accent-color-100);
}

.image.post-image {
	@extend %inline-block;

	margin-bottom: 0.5em;

	@include desktop {
		max-height: 200px;
		max-width: 200px;
		margin-bottom: 0;
	}
}

.anchor {
	display: block;
	height: 54px;
	margin-top: -54px;
	visibility: hidden;
}

code,
pre {
	-moz-osx-font-smoothing: auto;
	-webkit-font-smoothing: auto;
	font-family: var(--monospace-font);
}

code {
	color: var(--accent-color-300);
	font-size: 0.875em;
	font-weight: normal;
	padding: 0.25em 0.5em 0.25em;
}

pre {
	-webkit-overflow-scrolling: touch;
	font-size: 0.875em;
	overflow-x: auto;
	padding: 1.25rem 1.5rem;
	white-space: pre;
	word-wrap: normal;
	margin-bottom: 1em;

	code {
		color: var(--code-color);
		font-size: 1em;
		padding: 0;
	}
}

.equation {
	text-align: center;

	.katex-display {
		background: var(--background-color-200);
		padding: 1em 2em;
		border-radius: var(--small-radius);
		margin: auto;
		display: inline-block;
	}

	> span {
		margin: 0;
	}
}

.dark {
	.art-container .art-gallery {
		filter: brightness(60%);

		img {
			background: var(--background-color-100);
		}
	}
}

.art-container {
	.art-gallery {
		background-attachment: absolute;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 0.5rem 1rem;
		border-radius: var(--small-radius);

		img {
			padding: 1em 2em;
			background: var(--text-color-100);
		}

		&:not(:last-child) {
			margin-right: 1em;
			margin-bottom: 1em;
		}

		.image-art-title {
			border-radius: 0.5em;
			border: nth(map-get($colors, "golden"), 1) solid;
			margin: auto;
			background: var(--background-color-100);
		}
	}
}

.sidebar-item {
	display: block;

	&:not(:last-child) {
		margin-bottom: 0.25rem;
	}
}

.mobile-separator {
	display: block;
	margin: 0 0.5rem;

	@include desktop {
		display: inline-block;
	}
}

.keycode {
	font-family: var(--monospace-font);
	font-size: 0.5em;
	vertical-align: middle;

	&::before {
		content: "[";
	}

	&::after {
		content: "]";
	}
}

.repo {
	&.fixed-top-bar {
		position: absolute;
		z-index: 1;
		text-align: center;

		@include desktop {
			grid-area: menu;
			position: relative;
		}

		.button.git {
			border-radius: var(--small-radius);
			margin-top: 0;
			transform: translateY(-50%);

			@include desktop {
				@include control-medium;

				margin-top: nth($sizes, 3);
			}

			@include touch {
				--control-border-radius: 2px;
				--control-font-size: #{nth($sizes, 7)};

				position: absolute;
				top: nth($sizes, 3);
				left: 0.5rem;

				background: var(--background-color-100);
			}
		}
	}

	&.hero {
		width: 100%;
		text-align: center;
		background: var(--background-color-200);
		grid-area: main;
		padding: 2em 1em 1em;
		margin-bottom: 0.5rem;

		@include desktop {
			padding: 1em 5em;
			margin-bottom: 0;
		}
	}
}

sup.ref {
	&::before {
		content: "[";
	}

	&::after {
		content: "]";
	}
}

.progress {
	width: 100%;
	background: var(--background-color-300);
	border-color: var(--background-color-300);
	height: 1.25rem;

	color: var(--accent-color-100);

	&::-moz-progress-bar {
		background: var(--accent-color-100);
	}

	&::-webkit-progress {
		&-bar {
			background: var(--background-color-300);
		}

		&-value {
			background: var(--accent-color-100);
		}
	}
}

.category-header {
	--border-style: solid;
	background: var(--background-color-200);
	padding: 0.75em 2em;
	text-align: center;
	border-radius: 2em 0 2em 0;
	border: 3px var(--primary-color-100);
	border-style: none var(--border-style) var(--border-style) none;

	@include desktop {
		border-style: var(--border-style) none none var(--border-style);
	}
}

.printable {
	display: none;
}

.reactions {
	display: flex;
	justify-content: flex-end;
}

.twitter-share-button {
	border: none;
	padding: var(--button-padding-vertical) var(--button-padding-horizontal);
	color: #fff;
	border-radius: var(--small-radius);
	background: var(--twitter-primary);

	&:hover,
	&:focus,
	&:focus-visible {
		border-radius: var(--small-radius);
		background: var(--twitter-primary);
		color: #fff;

		.dark & {
			color: var(--background-color-100);
		}
	}
}

@keyframes slide-in {
	from {
		top: 100%;
		opacity: 0;
	}

	to {
		top: 0;
		opacity: 1;
	}
}

@keyframes appear {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.projects {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
	gap: 2em;

	@include touch {
		grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
	}

	article {
		display: flex;
		min-height: 12em;
		justify-content: center;
		align-items: center;
		min-width: 0;
		position: relative;
		isolation: isolate;
		overflow: hidden;

		* {
			cursor: pointer;
		}

		figure {
			img {
				border-radius: 8px;
			}

			figcaption {
				margin-top: 0.5em;
				text-align: center;
			}
		}

		.description {
			top: 100%;
			position: absolute;
			gap: 0.5em;
			display: flex;
			flex-flow: column;
			justify-content: center;
			text-align: center;
			color: var(--text-color-100);
		}
	}

	article:focus-within,
	input.hidden:checked + {
		figure figcaption {
			visibility: hidden;
		}

		.description {
			inset: 0;
			z-index: 1;
			animation: 0.5s cubic-bezier(0.86, 0, 0.07, 1) slide-in;

			@media (prefers-reduced-motion) {
				animation: 0.7s linear appear;
			}

			&::before {
				content: "";
				position: absolute;
				inset: 0;
				background: var(--background-color-100);
				z-index: -1;
				opacity: 0.9;
			}
		}
	}
}

.lang {
	padding: 1em;
	text-align: center;
}

@import "gist";
