$sizes: (3rem, 2.5rem, 2rem, 1.5rem, 1.25rem, 1rem, 0.75rem, 0.5rem);
$navbar-height: 3.5em;
$footer-height: 5em;
$colors: (
  "warning": (
    var(--background-color-100),
    #f5ab00,
  ),
);

:root {
  --dark: -1;
  --main-font: "Raleway", sans-serif;
  --title-font: "Montserrat", sans-serif;
  --monospace-font: "IBM Plex Mono", monospace;
  --font-size: 1em;

  --footer-padding: 1rem 1rem 2rem;
  --footer-height: #{$footer-height};

  --navbar-height: #{$navbar-height};

  --button-padding-vertical: calc(0.5em - var(--control-border-width));
  --button-padding-horizontal: 1em;

  --column-gap: 0.5em;

  // --primary-color-100: #2a4265;
  // --primary-color-200: #243853;
  // --primary-color-300: #1b2a41;

  // --background-color-100: #ccc9dc;
  // --text-color-100: #0a0a10;
  // --primary-color-100: #94afc7;
  // --primary-color-200: #799bb9;
  // --primary-color-300: #5f87ab;

  // --contrast-color-100: #699fc9;
  // --contrast-color-200: #4b8cbe;
  // --contrast-color-300: #3b77a5;

  // --accent-color-100: #ff0000;

  &.dark {
    --dark: 1;

    --rich-black-fogra-39: hsl(240, 23%, 5%);
    --rich-black-fogra-40: hsl(240, 23%, 10%);
    --rich-black-fogra-41: hsl(240, 23%, 15%);

    // --rich-black-fogra-29: hsla(206, 47%, 9%, 1);
    // --oxford-blue: hsla(216, 41%, 18%, 1);
    // --maximum-red-purple: hsla(322, 42%, 46%, 1);
    // --languid-lavender: hsla(249, 21%, 83%, 1);

    --background-color-100: #0a0a10;
    --background-color-200: #181826;
    --background-color-300: #1f1f32;

    --text-color-100: #ccc9dc;
    --text-color-200: #c5c1d7;
    --text-color-300: #b9b5cf;

    --primary-color-100: #1b2a41;
    --primary-color-200: #243853;
    --primary-color-300: #2a4265;

    --contrast-color-100: #699fc9;
    --contrast-color-200: #5a96c4;
    --contrast-color-300: #4b8cbe;

    --accent-color-100: #a74482;
    --accent-color-200: #b85192;
    --accent-color-300: #be609b;

    --gmail-primary: #eb4132;
    --twitter-primary: #1da1f2;
    --github-primary: #f0f6fc;
    --telegram-primary: #28a8ea;
  }
}

@import "reset";

@import "mixins";

@import "spacing";

@import "links";

@import "buttons";

html {
  text-rendering: optimizeLegibility;
  overflow-y: scroll;
}

body {
  min-height: 100vh;
  display: grid;
  font-family: var(--main-font);
  line-height: 1.5;
  background-color: var(--background-color-100);
  color: var(--text-color-100);
  font-size: var(--font-size);

  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "nav"
    "main"
    "footer";
}

.title,
.subtitle {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  word-break: break-word;

  em,
  span {
    font-weight: inherit;
  }

  sub {
    font-size: 0.75em;
  }

  sup {
    font-size: 0.75em;
  }

  .tag {
    vertical-align: middle;
  }
}

.title {
  font-family: var(--title-font);
  font-size: nth($sizes, 3);
  font-weight: 600;
  line-height: 1.125;

  strong {
    color: inherit;
    font-weight: inherit;
  }

  & + .highlight {
    margin-top: -0.75rem;
  }

  &:not(.is-spaced) + .subtitle {
    margin-top: -1.25rem;
  }

  @each $size in $sizes {
    $i: index($sizes, $size);
    &.is-#{$i} {
      font-size: $size;
    }
  }
}

.subtitle {
  font-size: nth($sizes, 5);
  line-height: 1.25;

  strong {
    font-weight: 600;
  }

  &:not(.is-spaced) + .title {
    margin-top: -1.25rem;
  }

  @each $size in $sizes {
    $i: index($sizes, $size);
    &.is-#{$i} {
      font-size: $size;
    }
  }
}

strong {
  font-weight: bold;
}

.has-text-centered {
  text-align: center;
}

.is-invisible {
  visibility: hidden !important;
}

.section {
  padding: 1rem 3rem 1rem 3rem;
}

.columns {
  display: flex;

  @include touch {
    flex-flow: column;

    &.is-centered {
      align-items: center;
    }
  }

  &.is-centered {
    justify-content: center;
  }
}

.column {
  flex: 1 1;
  padding: var(--column-gap);

  @include desktop {
    &:not(:last-child) {
      margin-right: 1rem;
    }

    @for $i from 0 through 12 {
      .columns > &.is-#{$i} {
        flex: none;
        width: percentage($i / 12);
      }
      .columns > &.is-offset-#{$i} {
        margin-left: percentage($i / 12);
      }
    }
  }

  @include touch {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

.error-section {
  padding: 1rem 3rem 1rem 3rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 100%;
}

@import "navbar";
@import "footer";

// End of my styles

img,
picture {
  display: block;
  margin: 0 auto;

  &.image-left {
    max-width: 300px;
    margin-right: 15px;
    margin-bottom: 10px;
  }

  &.image-right {
    max-width: 300px;
    margin-left: 15px;
    margin-bottom: 10px;
  }

  &.avatar {
    vertical-align: middle;
    border-radius: 100%;
    width: 200px;
    z-index: 2;
  }
}

img {
  &:not([alt]) {
    outline: 0.5em dashed var(--accent-color-100);
  }
}

.image.post-image {
  display: inline-block;

  // @include tablet {
  //   max-height: 200px;
  //   max-width: 200px;
  // }

  // @include mobile {
  //   margin-bottom: 0.5em;
  // }
}

.anchor {
  display: block;
  height: 54px;
  margin-top: -54px;
  visibility: hidden;
}

.katex-display {
  overflow-x: auto;
}

.auto-margin {
  margin: auto;
}

article:not(:last-child) {
  margin-bottom: 1em;
}

.line-through {
  text-decoration: line-through;
}

.icon-2x {
  max-width: 2em;
  max-height: 2em;
}

div.highlighter-rouge {
  &:not(:last-child) {
    margin-bottom: nth($sizes, 6);
  }
}

code,
pre {
  text-align: left;
  font-family: var(--monospace-font);
}

.image-container {
  display: inline-block;
}

.art-gallery {
  background-attachment: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebar-item {
  display: block;

  &:not(:last-child) {
    margin-bottom: 0.25rem;
  }
}

.mobile-separator {
  display: block;
  margin: 0 0.5rem;
  // @include tablet {
  //   display: inline-block;
  // }
}

.gist {
  table td {
    border: initial;
    font-family: var(--monospace-font);
  }

  .blob-num {
    text-align: right;
  }
}

.license-link {
  display: inline-block;
  // margin-bottom: $size-7 / 2;
}

.is-full-rounded {
  border-radius: 100%;
}

.repo {
  &.fixed-top-bar {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    z-index: 5;
    justify-content: space-between;
  }

  &.hero {
    // @include touch {
    //   margin-top: 0.75rem;
    // }
  }
}

sup.ref {
  &::before {
    content: "[";
  }

  &::after {
    content: "]";
  }
}

.latest-posts {
  &:nth-of-type(odd) {
    flex-direction: row-reverse;
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.is-flex {
  display: flex;
  flex-flow: row nowrap;

  &.is-vcentered {
    align-items: center;
  }

  &-column {
    display: flex;
    flex-flow: column nowrap;

    &.is-vcentered {
      justify-content: center;
    }
  }
}

.space-between {
  justify-content: space-between;
}

.normal-wrap {
  word-wrap: normal;
}

span[title] {
  cursor: help;
}

.card.project-card:not(:last-child) {
  margin-bottom: 0.5em;
}
// $footer-padding: 1rem 1rem 2rem;
// $hr-background-color: $grey-lighter;

.image-art-title {
  border-radius: 0.5em;
  // border: $golden solid;
  // @include tablet {
  //   width: 50%;
  // }
  margin: auto;
}

::selection {
  background: var(--accent-color-100);
  color: var(--text-color-100);
}

.turbolinks-progress-bar {
  height: 5px;
  // background-color: $red;
}

.gist {
  &-meta {
    // background-color: $background;
    // color: $text;
  }

  &-file {
    // border-color: $white-bis;
  }

  &-data {
    // border-color: $white-bis;
  }
}

.repo.fixed-top-bar {
  // background: $primary;
}
