$font-prefix: "../webfonts";
@import url("https://fonts.googleapis.com/css?family=Raleway|Montserrat");
@import "../node_modules/@ibm/plex/scss/mono/regular/index";

$widescreen-enabled: false;
$fullhd-enabled: false;

@import "../node_modules/bulma/sass/utilities/animations.sass";

@import "../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../node_modules/bulma/sass/utilities/functions.sass";
@import "../node_modules/bulma/sass/utilities/derived-variables.scss";
@import "../node_modules/bulma/sass/utilities/animations.sass";
@import "../node_modules/bulma/sass/utilities/mixins.sass";
@import "../node_modules/bulma/sass/utilities/controls.sass";

@import "../node_modules/bulma/sass/base/minireset.sass";

@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/elements/image.sass";

@import "../node_modules/bulma/sass/components/level.sass";

@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/grid/tiles.sass";

// @import "../node_modules/bulma/sass/helpers/float.sass";
@import "../node_modules/bulma/sass/helpers/other.sass";
@import "../node_modules/bulma/sass/helpers/overflow.sass";
@import "../node_modules/bulma/sass/helpers/position.sass";
@import "../node_modules/bulma/sass/helpers/spacing.sass";
@import "../node_modules/bulma/sass/helpers/typography.sass";
@import "../node_modules/bulma/sass/helpers/visibility.sass";

@import "../node_modules/bulma/sass/layout/section.sass";
