a {
	--text-color: var(--contrast-color-300);
	--background-color: var(--background-color-200);
	--focus-text-color: var(--contrast-color-100);
	--active-text-color: var(--contrast-color-200);

	text-decoration: none;
	color: var(--text-color);

	&:focus,
	&:focus-visible {
		outline: none;
		background: var(--background-color);
		text-decoration: underline;
	}

	&:hover,
	&:focus,
	&:focus-visible {
		color: var(--focus-text-color);
		border-radius: var(--control-border-radius, 4px);
	}

	&:active {
		color: var(--active-text-color);
	}
}
