a {
  text-decoration: none;
  color: var(--contrast-color-300);

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    color: var(--contrast-color-100);
    border-radius: var(--control-border-radius, 4px);
  }

  &:focus,
  &:focus-visible {
    background: var(--background-color-200);
    text-decoration: underline;
  }

  &:active {
    color: var(--contrast-color-200);
  }
}
