$desktop: 960px + (2 * $gap) !default;

:root {
	--control-border-width: 1px;
	--control-border-radius: 4px;
	--control-line-height: 1.5;
	--control-height: 2.5em;
	--control-padding-vertical: calc(0.5em - var(--control-border-width));
	--control-padding-horizontal: calc(0.75em - var(--control-border-width));
}

@mixin touch {
	@media all and (max-width: $desktop - 1px) {
		@content;
	}
}

@mixin desktop {
	@media all and (min-width: $desktop) {
		@content;
	}
}

@mixin control {
	--control-border-radius: 2px;
	--control-font-size: #{nth($sizes, 7)};

	-moz-appearance: none;
	-webkit-appearance: none;
	align-items: center;
	border: var(--control-border-width) solid transparent;
	border-radius: var(--control-border-radius);
	box-shadow: none;
	display: inline-flex;
	font-size: var(--control-font-size);
	height: var(--control-height);
	justify-content: flex-start;
	line-height: var(--control-line-height);
	padding: var(--control-padding-vertical) var(--control-padding-horizontal);
	position: relative;
	vertical-align: top;

	&:focus,
	&.is-focused,
	&:active,
	&.is-active {
		outline: none;
	}

	&[disabled],
	fieldset[disabled] & {
		cursor: not-allowed;
	}
}

@mixin control-normal {
	--control-border-radius: 4px;
	--control-font-size: #{nth($sizes, 6)};
}

@mixin control-medium {
	--control-border-radius: 4px;
	--control-font-size: #{nth($sizes, 5)};
}

@mixin control-large {
	--control-border-radius: 4px;
	--control-font-size: #{nth($sizes, 4)};
}

@mixin unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin block($spacing: 1.5rem) {
	&:not(:last-child) {
		margin-bottom: $spacing;
	}
}

@mixin reset {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background: none;
	border: none;
	color: currentColor;
	font-family: inherit;
	font-size: 1em;
	margin: 0;
	padding: 0;
}
