@import "mixins";

.pagination {
	@include block;
	font-size: 1rem;
	margin: -0.25rem;
	margin-bottom: 0;
	margin-top: 0;
	&.is-rounded {
		.pagination-previous,
		.pagination-next {
			padding-left: 1em;
			padding-right: 1em;
			border-radius: $radius-rounded;
		}
		.pagination-link {
			border-radius: $radius-rounded;
		}
	}
}

.pagination,
.pagination-list {
	align-items: center;
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.pagination-previous,
.pagination-next,
.pagination-link,
.pagination-ellipsis {
	@include control;
	@include unselectable;
	@include control-normal;

	justify-content: center;
	margin: 0.25rem;
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-align: center;
}

.pagination-previous,
.pagination-next,
.pagination-link {
	border-color: var(--background-color-300);
	color: var(--text-color-100);
	min-width: 2.5em;

	&:hover {
		border-color: var(--primary-color-200);
		color: var(--text-color-100);
	}

	&:focus {
		color: var(--text-color-100);
		border-color: var(--primary-color-100);
		text-decoration: none;
	}

	&:active {
		box-shadow: inset 0 1px 2px n-hsla(var(--background-hsl-300), 0.2);
	}

	&[disabled],
	&[disabled]:hover {
		background-color: var(--background-color-200);
		border-color: var(--background-color-300);
		box-shadow: none;
		color: var(--text-color-100);
		filter: unset;
		opacity: 0.5;
	}
}

.pagination-previous,
.pagination-next {
	padding-left: 0.75em;
	padding-right: 0.75em;
	white-space: nowrap;
}

.pagination-link {
	&.is-current {
		background-color: var(--primary-color-100);
		border-color: var(--primary-color-100);
		color: var(--text-color-100);
	}
}

.pagination-ellipsis {
	color: var(--text-color-100);
	pointer-events: none;
}

.pagination-list {
	flex-wrap: wrap;
	flex-grow: 1;
	flex-shrink: 1;
	justify-content: flex-start;
	order: 1;

	li {
		list-style: none;
	}
}
.pagination-previous,
.pagination-next,
.pagination-link,
.pagination-ellipsis {
	margin-bottom: 0;
	margin-top: 0;
}

.pagination-previous {
	order: 2;
}

.pagination-next {
	order: 3;
}

.pagination {
	&.is-centered {
		.pagination-previous {
			order: 1;
		}
		.pagination-list {
			justify-content: center;
			order: 2;
		}
		.pagination-next {
			order: 3;
		}
	}
	&.is-right {
		.pagination-previous {
			order: 1;
		}
		.pagination-next {
			order: 2;
		}
		.pagination-list {
			justify-content: flex-end;
			order: 3;
		}
	}
}
