$social-colors: (
	"twitter": $twitterPair,
	"telegram": $telegramPair,
	"gmail": $gmailPair,
	"github": $githubPair
);

// The button sizes use mixins so they can be used at different breakpoints
@mixin button-small {
	border-radius: 100%;
	font-size: $size-small;
}

@mixin button-normal {
	font-size: $size-normal;
}

@mixin button-medium {
	font-size: $size-medium;
}

@mixin button-large {
	font-size: $size-large;
}

.button {
	@each $name, $pair in $social-colors {
		$color: nth($pair, 1);
		$color-invert: nth($pair, 2);

		&.is-static {
			background-color: $button-static-background-color;
			border-color: $button-static-border-color;
			color: $button-static-color;
			box-shadow: none;
			pointer-events: none;
		}

		&.#{$name}:not(.is-text) {
			background-color: $color;
			border-color: transparent;
			color: $color-invert;

			&.is-small {
				@include button-small;
			}
			&.is-normal {
				@include button-normal;
			}
			&.is-medium {
				@include button-medium;
			}
			&.is-large {
				@include button-large;
			}

			border-width: $button-border-width;
			cursor: pointer;
			justify-content: center;
			padding-bottom: $button-padding-vertical;
			padding-left: $button-padding-horizontal;
			padding-right: $button-padding-horizontal;
			padding-top: $button-padding-vertical;
			text-align: center;
			white-space: nowrap;
			strong {
				color: inherit;
			}
			border-radius: 100%;
			&:hover,
			&.is-hovered {
				background-color: bulmaDarken($color, 2.5%);
				border-color: transparent;
				color: $color-invert;
			}
			&:focus,
			&.is-focused {
				border-color: transparent;
				color: $color-invert;
				&:not(:active) {
					box-shadow: $button-focus-box-shadow-size bulmaRgba($color, 0.25);
				}
			}
			&:active,
			&.is-active {
				background-color: bulmaDarken($color, 5%);
				border-color: transparent;
				color: $color-invert;
			}
			&.is-inverted {
				background-color: $color-invert;
				color: $color;
				&:hover,
				&.is-hovered {
					background-color: bulmaDarken($color-invert, 5%);
				}
				&[disabled],
				fieldset[disabled] & {
					background-color: $color-invert;
					border-color: transparent;
					box-shadow: none;
					color: $color;
				}
			}
		}
	}
}
