.has-text-centered {
	text-align: center;
}

.is-invisible {
	visibility: hidden !important;
}

.is-hidden {
	display: none !important;

	@include desktop {
		&-desktop {
			display: none !important;
		}
	}

	@include touch {
		&-touch {
			display: none !important;
		}
	}
}

.marginless {
	margin: 0 !important;
}

.auto-margin {
	margin: auto;
}

.line-through {
	text-decoration: line-through;
}

.is-full-rounded {
	border-radius: 100%;
}

.space-between {
	justify-content: space-between;
}

.normal-wrap {
	word-wrap: normal;
}

.has-text {
	&-right {
		text-align: right;
	}

	&-left {
		text-align: left;
	}
}

.image-container {
	@extend %inline-block;
}

.is-pulled {
	&-right {
		float: right;
	}

	&-left {
		float: left;
	}
}
