---
import { getLangFromUrl, useTranslations } from "@/i18n/utils"
import HtmlLayout from "@/layouts/html.astro"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<HtmlLayout title={`${t("Más sobre mí")} | Halivert`}>
	<main class="max-w-prose py-2 px-4">
		<h1 class="text-4xl font-semibold block mb-7">More about me</h1>

		<div class="block content text-lg">
			<p>
				I'm a <a
					href="https://www.jw.org/en/jehovahs-witnesses/faq/jehovah-witness-beliefs/"
					>Jehova's witness</a
				>. I have 7+ years of professional experience. I started working with
				small companies and I'm currently working with IBM.
			</p>

			<p>
				My main stack is: Laravel, Vue 3, Typescript. I also have experience
				working with other frameworks and libraries, I'm not really tied to one
				(React, Angular, Astro)
			</p>

			<p>
				I'm passionate about systems architecture and design. I love to write
				maintainable code and read it. I like to do code reviews and I always
				prioritize quality over quantity.
			</p>

			<p>
				I love math and algorithms, I participated in the algorithms club at my
				school for some time and I enjoy applying that to real engineering
				problems.
			</p>

			<p>
				I got married at 26 with the love of my life and we swim, run and go to
				gym together; my favourite sport is table tennis.
			</p>

			<p>
				I have a broad musical taste, starting with my favourite band: the
				Strokes, to CHON, Wintergatan, up to one (1) Beatles song.
			</p>
		</div>
	</main>
</HtmlLayout>
