---
---

// Full url fonts

@font-face {
	font-family: IBM Plex Mono;
	src: url("{{ site.url }}/assets/webfonts/IBM-Plex-Mono/fonts/complete/woff2/IBMPlexMono-Regular.woff2");
	font-display: block;
}

@font-face {
	font-family: IBM Plex Mono;
	font-style: bold;
	font-weight: bold;
	src: url("{{ site.url }}/assets/webfonts/IBM-Plex-Mono/fonts/complete/woff2/IBMPlexMono-Bold.woff2");
	font-display: block;
}

@font-face {
	font-family: Montserrat;
	src: url("{{ site.url }}/assets/webfonts/Montserrat-Regular.ttf");
	font-display: block;
}

@font-face {
	font-family: Montserrat;
	font-style: bold;
	font-weight: bold;
	src: url("{{ site.url }}/assets/webfonts/Montserrat-Bold.ttf");
	font-display: block;
}

@font-face {
	font-family: Montserrat;
	font-style: italic;
	src: url("{{ site.url }}/assets/webfonts/Montserrat-Italic.ttf");
	font-display: block;
}

@font-face {
	font-family: Raleway;
	src: url("{{ site.url }}/assets/webfonts/Raleway-Regular.ttf");
	font-display: block;
}

@font-face {
	font-family: Raleway;
	font-weight: bold;
	src: url("{{ site.url }}/assets/webfonts/Raleway-Bold.ttf");
	font-display: block;
}

@font-face {
	font-family: Raleway;
	font-style: italic;
	src: url("{{ site.url }}/assets/webfonts/Raleway-Italic.ttf");
	font-display: block;
}

// End of fonts

@import "halivert";
