---
import { getLangFromUrl, useTranslations } from "@/i18n/utils"
import HtmlLayout from "@/layouts/html.astro"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<HtmlLayout title={`${t("Más sobre mí")} | Halivert`}>
	<main class="max-w-prose py-2 px-4">
		<h1 class="text-4xl font-semibold block mb-7">Más sobre mí</h1>

		<div class="block content text-lg">
			<p>
				Soy <a
					href="https://www.jw.org/es/testigos-de-jehov%C3%A1/preguntas-frecuentes/creencias-testigos-jehova/"
					>testigo de Jehová</a
				> llevo 7 años trabajando profesionalmente. Trabajé con empresas pequeñas
				como <a href="https://www.asgo.com.mx">ASGO</a> y actualmente estoy trabajando
				con IBM.
			</p>

			<p>
				Me especializo en Laravel, Vue 3, Typescript. Tengo experiencia también
				con otros frameworks y bibliotecas, no estoy realmente atado a alguno
				(React, Angular, inclusive jQuery).
			</p>

			<p>
				La arquitectura y diseño de sistemas es algo que me apasiona. Escribir
				código mantenible (y pedirle a IAs que lo hagan para revisarlo) es algo
				que me gusta mucho. Me gusta hacer code reviews y busco siempre la
				calidad antes que la cantidad.
			</p>

			<p>
				Me encantan las matemáticas y los algoritmos, participé en el club de
				algoritmia de mi escuela durante algún tiempo y pensar en algoritmos es
				algo que me gusta bastante y trato de aplicar en el día a día.
			</p>

			<p>
				Me casé a los 26 con el amor de mi vida, juntos practicamos natación,
				corremos y vamos al gimnasio; mi deporte favorito es el tenis de mesa.
			</p>

			<p>
				Tengo gustos musicales variados, desde mi banda favorita: los Strokes,
				pasando por CHON, Wintergatan, hasta una (1) canción de los Beatles.
			</p>
		</div>
	</main>
</HtmlLayout>
