---
import { Image } from "astro:assets"
import { getCollection } from "astro:content"
import { getLangFromUrl, useTranslations } from "@/i18n/utils"
import HtmlLayout from "@/layouts/html.astro"
import ProjectThumbnail from "@/components/ProjectThumbnail.vue"
import type { Project } from "@/types/project"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const projects = await getCollection("projects")

projects.sort((a, b) => a.data.order - b.data.order)

type Translation = Project["data"]["translations"]
type TranslationProp = keyof NonNullable<Translation[keyof Translation]>

function getTranslation(project: Project, key: TranslationProp): string {
	return project.data.translations[lang]?.[key] ?? ""
}
---

<HtmlLayout title={`${t("Proyectos")} | Halivert`}>
	<main class="p-3">
		<section class="grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-4">
			{
				projects.map((project) => (
					<ProjectThumbnail client:load url={Astro.url} project={project}>
						{project.data.image && (
							<Image
								class="rounded-md"
								src={project.data.image}
								alt={getTranslation(project, "imageAlt")}
							/>
						)}
					</ProjectThumbnail>
				))
			}
		</section>
	</main>
</HtmlLayout>
