---
import { getEntry } from "astro:content"
import { getAbsoluteLocaleUrl } from "astro:i18n"
import { getPostUrl } from "@/ts/functions"

interface Props {
  translation: {
    short: string
    post: {
      id: string
      collection: "posts"
    }
  }
}

const { translation } = Astro.props

const post = await getEntry(translation.post.collection, translation.post.id)
---

{
  post && (
    <a
      class="capitalize"
      href={getAbsoluteLocaleUrl(
        translation.short,
        "blog/" + getPostUrl(post).join("/"),
      )}
    >
      {translation.short}
    </a>
  )
}
