---
layout: building
---

{% assign author = site.data._authors[page.author] %}

<section id="main-container" class="section has-background-light">
  <div class="container-fluid">
    <div class="has-text-centered">
      <h3 class="title is-1">{{ author.fullname }}</h3>
      <div class="is-5">
        {{ author.description }}
      </div>
      <hr>
    </div>
    <div class="columns">
      <!--
        <div class="column is-9">
        {% assign category = page.category %}
        {% for post in site.categories[category] %}
          <div>
          <p class="title is-2">
          <a class="has-text-primary" href="{{ post.url }}">{{ post.title }}</a>
          </p><hr>
          {% include post-show.html %}
          <br>
          {% include post-info-show.html %}
          <br>
          </div>
        {% endfor %}
        </div>
        <div class="column">
        {% include sidebar.html %}
        </div>
      -->
    </div>
  </div>
</section>
