---
layout: html
---

{% include nav.html %}
<section class="section">
  <div class="container-fluid">
    <div class="has-text-centered">
      <h3 class="title is-size-1">{{ page.category }}</h3>
      {{ content }}
      <hr>
    </div>
    <div class="columns">
      <div class="column is-9">
        {% assign category = page.category %}
        {% for post in site.categories[category] %}
        <div>
          <p class="title is-size-1">
            <a class="has-text-primary" href="{{ post.url }}">{{ post.title }}</a>
          </p><hr>
          {% include post-show.html %}
          <br>
          <div class="box">
            <i class="fas fa-user" aria-hidden="true"></i>
            {% if site.data.authors[post.author].fullname %}
            {{ site.data.authors[post.author].fullname }}
            {% else %}
            {{ post.author }}
            {% endif %}
            &nbsp;&nbsp;&nbsp;
            <br class="mobile-separator">
            <i class="fas fa-calendar" aria-hidden="true"></i>
            {% include date-spanish.html item=post %}
          </div>
          <br>
        </div>
        {% endfor %}
      </div>
      <div class="column">
        {% include sidebar.html %}
      </div>
    </div>
  </div>
</section>
