---
layout: container
---

<div class="category-header">
  <h3 class="title is-1">{{ page.title | __ }}</h3>
  <div class="subtitle">
    {{ content }}
  </div>
</div>

<div class="columns mt-6">
  <div class="column is-9-desktop">
    {% for post in paginator.posts %}
      <div>
        <p class="title is-2">
          <a class="has-text-primary" href="{{ post.url | absolute_url }}">
            {{ post.title }}
          </a>
        </p><hr>
        {% include post-show.html %}
        <br>
        {% include post-info-show.html %}
        <br>
      </div>
    {% endfor %}
    {% include paginator.html %}
  </div>
  <div class="column">
    {% include sidebar.html %}
  </div>
</div>
