<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Halivert</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/bulma.css">
  </head>
  <body>
    {% include nav.html %}
    <section class="hero">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h3>Sitio en construcción...</h3>
        </div>
        <br>
        <div class="container">
          <progress class="progress is-medium is-primary" value="80" max="100"></progress>
        </div><br>
        <div class="container has-text-centered">
          <img src="/img/pp.png">
        </div>
      </div>
    </section>
  </body>
</html>

