---
title: Halivert
layout: html
---

{% include nav.html %}
<section class="section">
  <div class="container-fluid">
    {% if paginator.page == 1 %}
      <div class="has-text-centered">
        <h3 class="title is-size-1">Hola</h3>
        Me llamo Hali y estudio ingeniería en sistemas computacionales.
          <br>
          Este es mi blog personal.
        <hr>
      </div>
    {% endif %}
    <div class="columns">
      <div class="column is-9">
        {% for post in paginator.posts %}
          <div>
            <p class="title is-size-1">
              <a class="has-text-primary" href="{{ post.url }}">{{ post.title }}</a>
            </p><hr>
            {% include post-show.html %}
            <br>
            {% include post-info-show.html %}
            <br>
          </div>
        {% endfor %}
        {% include paginator.html item=paginator%}
      </div>
      <div class="column">
        {% include sidebar.html %}
      </div>
    </div>
  </div>
</section>
