---
title: Halivert
layout: html
---

{% include nav.html %}
<section class="section">
  <div class="container-fluid">
    <div class="columns">
      <div class="column is-9" style="padding-bottom: 4rem;">
        {% for post in site.posts %}
          <p class="title is-1">
            <a class="has-text-primary" href="{{ post.url }}">
            {{ post.title }}
            </a>
          </p>
          <hr>
          <p>
            {{ post.content }}
          </p><br>
          <div class="container-fluid is-dark">
            {% if site.data.authors[post.author].fullname %}
              {{ site.data.authors[post.author].fullname }}
            {% else %}
              {{ post.author }}
            {% endif %}
            - {{ post.date | date:  "%a, %b %d, %Y" }}
          </div>
          <br><br>
        {% endfor %}
      </div>
      <div class="column">
        {% include sidebar.html %}
      </div>
    </div>
  </div>
</section>
