<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% assign file = site.static_files | where: "name", "master.min.css" | first %}
    <link rel="stylesheet" href="{{ file.path }}">
    {% assign file = site.static_files | where: "name", "halivert.min.css" | first %}
    <link rel="stylesheet" href="{{ file.path }}">
    {% assign file = site.static_files | where: "name", "fa.min.css" | first %}
    <link rel="stylesheet" href="{{ file.path }}">

    {% include unixtimestamp.html %}
    {% if site.data._authors[page.author] %}
      {% assign author = site.data._authors[page.author] %}
      <meta property="author_url" content="https://t.me/{{ author.tme }}">
    {% endif %}

    {% assign file = site.static_files | where: "name", "nav.js" | first %}
    <script src="{{ file.path }}"></script>
    {% assign file = site.static_files | where: "name", "master.js" | first %}
    <script src="{{ file.path }}"></script>
    {% assign file = site.static_files | where: "name", "lunr.js" | first %}
    <script src="{{ file.path }}"></script>

    {% seo %}
    {% if page.hasmath %}
      {% include katex.html %}
    {% elsif page.hasinstantview %}
      <meta property="has_instant_view">
    {% endif %}
  </head>
  <body class="has-background-light has-navbar-fixed-top">
    {% include nav.html %}
    <div id="container">
      <section id="main-container" class="section is-size-6
        has-background-light">
        {{ content }}
      </section>
    </div>
    {% include footer.html %}
  </body>
</html>
