<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/master.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/terminal.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/bulma.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax-github.css">
    <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
    <script type="text/javascript" src="{{ site.baseurl }}/js/nav.js"></script>
    {% include unixtimestamp.html %}
    <script type="text/javascript" src="{{ site.baseurl }}/js/master.js"></script>
    <script id="dsq-count-scr" src="//halivert.disqus.com/count.js" async></script>
    {% seo %}
    {% include mathjax.html %}
  </head>
  <body>
    {{ content }}
  </body>
  {% include footer.html %}
</html>
