---
layout: container
---

{%- capture pageImage -%}
	{%- include remove_ext.html file=page.image -%}
{%- endcapture -%}

{% assign author = site.data.authors[page.author] %}

<div class="columns">
	<div class="column is-offset-1-desktop">
		<div class="reader">
			<div id="title-div" class="columns mb-0">
				<header class="column">
					<h1 class="title is-2 has-text-primary">{{
						page.title
					}}</h1>
					<small>
						{% if author.first_name %}
							<i>{{ 'por' | __ }}</i>
							<a href="{{ page.author | prepend: '/authors/' | locale_url }}">{{
								author.first_name
							}}</a> -
						{% endif %}

						{% if page.last_modification %}
							<span
								title="{{ 'Fecha original' | __ }}: {{ page.date | locale_date }}">
								<i>{{ 'última modificación' | __ }}:</i>
								{{ page.last_modification | locale_date }}
							</span>
						{% else %}
							<i>{{ 'publicado' | __ }}:</i> {{ page.date | locale_date }}
						{% endif %}
					</small>
				</header>
				{% if page.image %}
					<div class="column is-4-desktop has-text-right">
						{%- assign path = pageImage | absolute_url -%}
						{%- assign dark_img = "" -%}
						{%- if page.image_dark -%}
							{%- assign dark_img = " dark" -%}
						{%- endif -%}

						{%- assign class_name = "image post-image" | append: dark_img -%}
						{%- assign class_name = class_name | append: " is-fullwidth" -%}
						{%
							include picture.html
								class=class_name
								path=path
								alt=page.image_alt
								types=page.image_types
						%}
					</div>
				{% endif %}
			</div>
			<div class="columns">
				<div class="column tags">
					{%- for tag in page.tags -%}
						{%- assign downTag = tag | downcase -%}
						<span class="tag {{ site.data.tags[downTag].color }}">{{
							tag | __
						}}</span>
					{%- endfor -%}
				</div>
			</div>
			<hr />
			<section id="content" class="content">
				{{ content }}
			</section>

			<section id="reactions" class="mt-4">
				<hr />

				<div class="flex justify-between items-center">
					<a class="button twitter-share-button is-hidden">
						<span class="icon"><i class="fab fa-twitter"></i></span>
						<span>{{ 'Tweet' | __ }}</span>
					</a>
				</div>
			</section>

			<div class="printable">
				<p class="has-text-right">{{ page.url | absolute_url }}</p>
			</div>
		</div>
	</div>
</div>

<div class="columns">
	<div class="column is-offset-1-desktop">
		<div class="reader">
			<nav
				class="pagination is-centered"
				role="navigation"
				aria-label="pagination"
				>
				{% if page.previous.url %}
					<a
						href="{{ page.previous.url | absolute_url }}"
						class="pagination-previous button is-primary is-rounded"
						>{{ 'Anterior' | __ }}</a
					>
				{% else %}
					<a class="pagination-previous button is-rounded" disabled
						>{{ 'Anterior' | __ }}</a
					>
				{% endif %}
				{% if page.next.url %}
					<a
						href="{{ page.next.url | absolute_url }}"
						class="pagination-next button is-primary is-rounded"
						>{{ 'Siguiente' | __ }}</a
					>
				{% else %}
					<a class="pagination-next button is-rounded" disabled
						>{{ 'Siguiente' | __ }}</a
					>
				{% endif %}
			</nav>
		</div>
	</div>
</div>

{%- assign post_url = page.url | absolute_url -%}

<script>
	window.apiUrl = "https://webmention.io/api"
	window.postUrl = "{{ post_url }}" || ""

	window.getReactions = async () => {
		if (window.postUrl) {
			return await (await fetch(
				`${window.apiUrl}/count.json?target=${window.postUrl}`
			)).json()
		}

		return {}
	}

	window.mentionsUrl = `${window.apiUrl}/mentions.html?target={{ post_url }}`
</script>
<script
	type="module"
	src="{{ '/assets/js/post.js' | absolute_url }}"></script
>
