---
layout: container
---

<div class="container-fluid">
  <div class="columns is-desktop">
    <div class="column is-9-desktop">
      {% for post in paginator.posts %}
        <section>
          <h2 class="title is-2">
            <a class="has-text-primary" href="{{ site.url }}{{ post.url }}">
              {{ post.title }}
            </a>
          </h2>
          <hr />
          <div class="columns">
            <div class="column">
              {% include post-show.html %}
            </div>
            {% if post.image %}
              <picture class="column is-3">
                {%- for type in post.image_types -%}
                  {%- if forloop.last != true -%}
                    <source
                      srcset="{{
                        post.image | absolute_url
                      }}.{{ type.first[0] }}"
                      type="{{ type.first[1] }}"
                    />
                  {%- else -%}
                    <img
                      src="{{ post.image | absolute_url }}.{{ type.first[0] }}"
                      alt="{{ post.image_alt }}"
                    />
                  {%- endif -%}
                {%- endfor -%}
              </picture>
            {% endif %}
          </div>
          <br />
          {% include post-info-show.html %}
          <br />
        </section>
      {% endfor %}
      {% include paginator.html item=paginator%}
    </div>
    <aside class="column">
      {% include sidebar.html %}
    </aside>
  </div>
</div>
