---
layout: container
---

<div class="container-fluid">
  {% assign author = site.data.authors[page.author] %}

  <div class="columns">
    <div class="column is-8-desktop is-11-tablet is-offset-1-desktop">
      <div class="columns is-vcentered is-gapless">
        {% if page.image %}
          <div class="column is-hidden-tablet">
            <img
              id="page-cover"
              src="{{ site.url}}{{ page.image }}"
              alt="{{ page.imagealt }}"
              class="image"
              style="margin-bottom: 0.5em;"
            />
          </div>
        {% endif %}
        <header class="column">
          <h1 class="title is-1 has-text-primary">
            {{ page.title }}
          </h1>
          <small>
            {% if author.first_name %}
              <i>por</i>
              <a href="{{ site.url }}/authors/{{ page.author }}">{{
                author.first_name
              }}</a>
            {% endif %}

            {% if page.lastmodification %}
              <i>última modificación:</i>
              {% include date-spanish-abbr.html item=page.lastmodification %}
            {% elsif page.date %}
              <i>publicado:</i>
              {% include date-spanish-abbr.html item=page.date %}
            {% endif %}
          </small>
        </header>
        {% if page.image %}
          <div class="column has-text-right is-hidden-mobile">
            <img
              id="page-cover"
              src="{{ site.url}}{{ page.image }}"
              style="max-height: 200px; max-width: 200px;"
              alt="{{ page.imagealt }}"
            />
          </div>
        {% endif %}
      </div>
      <hr />
      <main id="content" class="container-fluid content">
        {{ content }}
      </main>
    </div>
  </div>

  <div class="columns">
    <div class="column is-8-desktop is-11-tablet is-offset-1-desktop">
      <nav
        class="pagination is-centered"
        role="navigation"
        aria-label="pagination"
        >
        {% if page.previous.url %}
          <a
            href="{{ site.url }}{{ page.previous.url }}"
            class="pagination-previous button is-primary is-rounded"
            >Anterior</a
          >
        {% else %}
          <a class="pagination-previous button is-rounded" disabled
             >Anterior</a
           >
         {% endif %}
         {% if page.next.url %}
           <a
             href="{{ site.url }}{{ page.next.url }}"
             class="pagination-next button is-primary is-rounded"
             >Siguiente</a
           >
         {% else %}
           <a class="pagination-next button is-rounded" disabled>Siguiente</a>
         {% endif %}
      </nav>
    </div>
  </div>
</div>
