---
layout: html
hide_foot: true
---

<nav class="repo fixed-top-bar">
	<a
		href="{{ site.github.repository_url }}"
		class="button github is-hidden-touch"
	>
		<span>Ver en github</span>
		<span class="icon">
			 <i class="fab fa-github" aria-hidden="true"></i>
		</span>
	</a>

	<a
		href="{{ site.github.repository_url }}"
		class="button github is-hidden-desktop"
	>
		<span class="icon">
			 <i class="fab fa-github" aria-hidden="true"></i>
		</span>
	</a>
</nav>

<main class="mb-6">
	<section class="hero repo">
		<div class="hero-body">
			<div class="container">
				<h1 class="title is-2">{{ page.title }}</h1>
				<h2 class="subtitle">{{ page.description }}</h2>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container content reader">
			{{ content }}
		</div>
	</section>
</main>
