---
layout: html
hide_foot: true
---

{% assign git = page.git | default: 'gitlab' %}

{%- if page.repository_url != false -%}
	<nav class="repo fixed-top-bar">
		<a
			href="{{ page.repository_url | default: site.github.repository_url }}"
			class="button git {{ git }} is-hidden-touch"
		>
			<span>Ver en {{ git }}</span>
			<span class="icon">
				<i class="fab fa-{{ git }}" aria-hidden="true"></i>
			</span>
		</a>

		<a
			href="{{ page.repository_url | default: site.github.repository_url }}"
			class="button git {{ git }} is-hidden-desktop"
		>
			<span class="icon">
				<i class="fab fa-{{ git }}" aria-hidden="true"></i>
			</span>
		</a>
	</nav>
{%- endif -%}

<main class="mb-6" id="main-container">
	<section class="hero repo">
		<div class="hero-body">
			<div class="container">
				<h1 class="title is-2">{{ page.title }}</h1>
				<h2 class="subtitle">{{ page.description }}</h2>
			</div>
		</div>
	</section>

	<section class="section" id="content">
		<div class="container content reader">
			{{ content }}
		</div>
	</section>
</main>
