---
layout: html
hide_nav: true
hide_foot: true
---

<nav class="repo fixed-top-bar">
	<button
		id="theme-switcher-corner"
		class="button theme-switcher is-invisible"
		onclick="changeTheme('theme-switcher-corner')"
		data-turbolinks-permanent
		style="border-radius: 0"
	>
		<span class="icon">
			 <i class="fas" aria-hidden="true"></i>
		</span>
	</button>

	<a
		href="{{ page.github_url }}"
		class="button github"
		style="border-radius: 0"
	>
		<span>Ver en github</span>
		<span class="icon">
			 <i class="fab fa-github" aria-hidden="true"></i>
		</span>
	</a>
</nav>

<main class="is-size-5">
	<section class="hero is-primary repo">
		<div class="hero-body">
			<div class="container">
				<h1 class="title is-2">{{ page.title }}</h1>
				<h2 class="subtitle">{{ page.description }}</h2>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container content">
			{{ content }}
		</div>
	</section>
</main>
