---
import { getLangFromUrl } from "@/i18n/utils"
import AppMenu from "@/components/AppMenu.vue"

import "@/styles/main.css"

interface Props {
	title?: string
	showLangButtons?: boolean
}

const { title = "Halivert", showLangButtons } = Astro.props
const lang = getLangFromUrl(Astro.url)
---

<!doctype html>
<html lang={lang} class="overflow-y-scroll scroll-smooth scroll-pt-4">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>

		<!-- {%- if site.webmention -%} -->
		<!-- 	<link rel="webmention" href="{{ site.webmention.webmention }}" /> -->
		<!-- 	<link rel="pingback" href="{{ site.webmention.pingback }}" /> -->
		<!-- {%- else -%} -->
		<!-- 	<link -->
		<!-- 		rel="webmention" -->
		<!-- 		href="https://webmention.io/halivert.dev/webmention" -->
		<!-- 	/> -->
		<!-- 	<link rel="pingback" href="https://webmention.io/halivert.dev/xmlrpc" /> -->
		<!-- {%- endif -%} -->

		<!-- {%- assign cssAssets = "/assets/css" | absolute_url -%} -->

		<!-- <link rel="stylesheet" href="{{ cssAssets }}/colors-dark.css" /> -->

		<!-- <link -->
		<!-- 	rel="stylesheet" -->
		<!-- 	href="{{ cssAssets }}/colors.css" -->
		<!-- 	media="(prefers-color-scheme: light)" -->
		<!-- /> -->

		<!-- <link rel="stylesheet" href="{{ cssAssets }}/halivert.css" /> -->

		<!-- <link -->
		<!-- 	rel="stylesheet" -->
		<!-- 	href="{{ cssAssets }}/print.css" -->
		<!-- 	media="print" -->
		<!-- /> -->

		<!-- <link -->
		<!-- 	rel="stylesheet" -->
		<!-- 	href="/gist-theme.css" -->
		<!-- 	media="print" -->
		<!-- 	onload="this.media='all'; this.onload=null;" -->
		<!-- /> -->

		<link rel="stylesheet" href="/css/fa.min.css" />

		<link rel="stylesheet" href="/css/solarized.css" />

		<!-- {% include unix_timestamp.html %} -->
		<!-- {%- assign author = site.data.authors[page.author] -%} -->
		<!-- {%- if author and author.first_name -%} -->
		<!-- 	<meta property="author:name" content="{{ author.first_name }}" /> -->
		<!-- {%- else -%} -->
		<!-- 	<meta property="author:name" content="" /> -->
		<!-- {%- endif -%} -->

		<!-- {%- if author and author.social -%} -->
		<!-- 	{%- assign telegram = author.social | where: "type", "telegram" -%} -->
		<!-- 	{% if telegram.first and telegram.first.url %} -->
		<!-- 		<meta property="telegram:author" content="{{ telegram.first.url }}" /> -->
		<!-- 	{% else %} -->
		<!-- 		<meta property="telegram:author" content="" /> -->
		<!-- 	{% endif %} -->
		<!-- {%- else -%} -->
		<!-- 	<meta property="telegram:author" content="" /> -->
		<!-- {%- endif -%} -->

		<!-- {%- if site.telegram.channel -%} -->
		<!-- 	<meta name="telegram:channel" content="{{ site.telegram.channel }}" /> -->
		<!-- {%- else -%} -->
		<!-- 	<meta name="telegram:channel" content="@halivertsblog" /> -->
		<!-- {%- endif -%} -->

		<!-- {%- if jekyll.environment == "production" -%} -->
		<!-- 	{%- if site.payment_pointer -%} -->
		<!-- 		<meta name="monetization" content="{{ site.payment_pointer }}" /> -->
		<!-- 	{%- else -%} -->
		<!-- 		<meta name="monetization" content="$ilp.uphold.com/yJJL4YrpRMQi" /> -->
		<!-- 	{%- endif -%} -->
		{
			import.meta.env.PROD && (
				<script is:inline src="https://cdn.splitbee.io/sb.js" />
			)
		}
		<!-- {%- endif -%} -->

		<!-- {% seo %} -->
		<!-- {% if page.has_math %} -->
		<!-- 	{% include katex.html %} -->
		<!-- 	<meta property="has_instant_view" content="false" /> -->
		<!-- {% elsif page.has_instant_view %} -->
		<!-- 	<meta property="has_instant_view" content="true"/> -->
		<!-- {% else %} -->
		<!-- 	<meta property="has_instant_view" content="false"/> -->
		<!-- {% endif %} -->
		<title>{title}</title>
	</head>
	<!--  -->
	<body
		class="relative min-h-dvh grid bg-background-300 text-text-950 text-base antialiased selection:bg-accent-400 selection:text-text-800 font-body"
	>
		<!--  -->
		<!-- 		{% unless page.hide_skip_link or layout.hide_skip_link %} -->
		<!-- 			<a -->
		<!-- 				class="skip-link" -->
		<!-- 				href="#main-container" -->
		<!-- 				tab-index="0" -->
		<!-- 				>{{ 'Ir al contenido' | __ }}</a -->
		<!-- 			> -->
		<!-- 		{% endunless %} -->
		<AppMenu url={Astro.url} showLangButtons={showLangButtons} />


		<slot />

		<!-- 		{% unless page.hide_foot or layout.hide_foot %} -->
		<!-- 			{% include footer.html %} -->
		<!-- 		{% endunless %} -->
	</body>

	<style>
		* {
			transition-property: color, background;
			transition-duration: 200ms;
			transition-timing-function: linear;
		}

		body {
			text-rendering: optimizeLegibility;

			grid-template:
				"menu" auto
				"main" 1fr
				"footer" auto
				/ 100%;

			@media screen and (min-width: 1024px) {
				grid-template:
					"menu main" 1fr
					"footer footer" auto
					/ minmax(auto, 20%) minmax(auto, 80%);
			}
		}
	</style>
</html>
